unpackaged/main/default/flows/Contract_and_Procurement_Wizard.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Redirect</name>
        <label>Redirect</label>
        <locationX>1295</locationX>
        <locationY>6159</locationY>
        <actionName>c:FlowRedirect3</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>VARFinalContractId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AddFilestoaCollection</name>
        <label>AddFilestoaCollection</label>
        <locationX>1458</locationX>
        <locationY>5414</locationY>
        <assignmentItems>
            <assignToReference>VarDocLinksss</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extract_Files_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASNLink_File_and_Contract_Record</name>
        <label>Link File and Contract Record</label>
        <locationX>1559</locationX>
        <locationY>5206</locationY>
        <assignmentItems>
            <assignToReference>VarDocumentLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_Files_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VARFinalContractId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddFilestoaCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAccessVariables</name>
        <label>AssignAccessVariables</label>
        <locationX>314</locationX>
        <locationY>3638</locationY>
        <assignmentItems>
            <assignToReference>VARConfAcc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Access_to_Confidential_Information1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VARPurofconfinfovar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Purpose_of_Access_to_Confidential_Information1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarProject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DECComparative_Vendor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignBooleanFalse</name>
        <label>AssignInitialVariables</label>
        <locationX>1186</locationX>
        <locationY>303</locationY>
        <assignmentItems>
            <assignToReference>VARTravelReinberse</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetContractRecordTypeID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignFunctTeam1</name>
        <label>AssignFunctTeam1</label>
        <locationX>578</locationX>
        <locationY>3038</locationY>
        <assignmentItems>
            <assignToReference>VARFunctionalTeam</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Functional_TeamCustom</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DECProcurement_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignInternalContactVariable</name>
        <label>AssignInternalContactVariable</label>
        <locationX>314</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>VarInternalContactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelInternalContactNEW.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetBadStaffContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignTravel</name>
        <label>AssignTravel</label>
        <locationX>314</locationX>
        <locationY>3398</locationY>
        <assignmentItems>
            <assignToReference>VARTravelReinberse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Travel_Reimbursement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCRConsultingProcNewScreen2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Dates</name>
        <label>Dates</label>
        <locationX>314</locationX>
        <locationY>1742</locationY>
        <assignmentItems>
            <assignToReference>VAREndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VARStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAROpenEnded</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Open_Ended_No_End_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DECPaidForBySource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OtherDatesandTeam</name>
        <label>OtherDatesandTeam</label>
        <locationX>1634</locationX>
        <locationY>1286</locationY>
        <assignmentItems>
            <assignToReference>VAREndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndDate2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VARStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VARFunctionalTeam</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Function_Team2custom</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAROpenEnded</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Open_Ended2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VARContractRectypeID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012j0000000plxeAAA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VARConfAcc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Access_to_Confidential_InformationOTHER</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VARPurofconfinfovar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PurposeOTHER</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarProject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectOTHER</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCRAdd_Files</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetContractRecordTypeID</name>
        <label>SetContractRecordTypeID</label>
        <locationX>1270</locationX>
        <locationY>420</locationY>
        <assignmentItems>
            <assignToReference>VARContractRectypeID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012j0000000plxUAAQ	</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetCurrentUsersContactID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Single_Source_Attached_True</name>
        <label>Single Source Attached True</label>
        <locationX>270</locationX>
        <locationY>1526</locationY>
        <assignmentItems>
            <assignToReference>VARSingleSourceDocAutoCheckVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dates</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CHOICEAdjunctTrainerAdmin</name>
        <choiceText>(194) Adjunct Trainer Admin</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>(194) Adjunct Trainer Admin</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICEAlternateEmailAsPrimary</name>
        <choiceText>Alternate Email as primary</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Alternate</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICEAlumniImpact</name>
        <choiceText>(355) Alumni Impact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>(355) Alumni Impact</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICEAlumniImpactteam</name>
        <choiceText>Alumni Impact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Alumni Impact</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICEAssessmentschoicedeptobecharged</name>
        <choiceText>(295) Assessments</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>(295) Assessments</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICEBreakthroughLeadershipAssistantPrincipals</name>
        <choiceText>(440) Breakthrough Leadership-Assistant Principals</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>(440) Breakthrough Leadership-Assistant Principals</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICEBreakthroughLeadershipPrincipals</name>
        <choiceText>(441) Breakthrough Leadership-Principals&amp;nbsp;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>(441) Breakthrough Leadership-Principals </stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICEBreakthroughLeadershipPrincipalSupervisors</name>
        <choiceText>(442) Breakthrough Leadership-Principal Supervisors</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>(442) Breakthrough Leadership-Principal Supervisors</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICECoachingStrategicLeadershipSupportallroles</name>
        <choiceText>(444) Coaching &amp;amp; Strategic Leadership Support (all roles)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>(444) Coaching &amp; Strategic Leadership Support (all roles)</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICEConsulting</name>
        <choiceText>Consulting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consulting</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICEContentDevelopment</name>
        <choiceText>(195) Content Development</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>(195) Content Development</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICEContract_Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICECopyrightlicense</name>
        <choiceText>Copyright license</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Copyright license</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICECostRange03500</name>
        <choiceText>$0 - $3,500</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>$0 - $3,500</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICEcostrange150plus</name>
        <choiceText>$150,000+</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>$150,000+</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICECostRange351499</name>
        <choiceText>$3,501 - $149,999</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>$3,501 - $149,999</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICECPO</name>
        <choiceText>(845) CPO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>(845) CPO</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICECustomProgramFlex</name>
        <choiceText>(415) Custom Program (Flex)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>(415) Custom Program (Flex)</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICEDEPBusinessSolutions</name>
        <choiceText>(970) Program Technology</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>(970) Business Solutions</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICEDepCEO</name>
        <choiceText>(850) CEO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>(850) CEO</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICEDepClientEngagementNewSites</name>
        <choiceText>(905) Sales and Marketing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>(905) Client Engagement/New Sites</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICEDepDevelopmentFundraising</name>
        <choiceText>(910) Development</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>(910) Fundraising</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICEDepEvaluation</name>
        <choiceText>(192) Program Learning</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>(345) Evaluation</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICEDepFinance</name>
        <choiceText>(950) Finance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>(950) Finance</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICEDepIT</name>
        <choiceText>(960) Org Technology</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>(960) IT</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICEDepLegal</name>
        <choiceText>(980) Legal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>(980) Legal &amp; Operations Management</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICEDEPPDHR</name>
        <choiceText>(920) PDHR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>(920) PDHR</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICEDepPolicy</name>
        <choiceText>(350) Policy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>(350) Policy</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICEDepProgramManagement</name>
        <choiceText>(390) Program Gen Ops</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>(190) Program Management</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICEdeptAspiringPrincipalsResidency</name>
        <choiceText>(125) Aspiring Principals</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>(125) Aspiring Principals Residency</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICEHotel</name>
        <choiceText>Hotel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hotel</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICERealestatelease</name>
        <choiceText>Real estate lease</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Real estate lease</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICERestaurantscatering</name>
        <choiceText>Restaurants/catering</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Restaurants/catering</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICESpacerental</name>
        <choiceText>Space rental</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Space rental</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICETechnologyhardwarepurchaselease</name>
        <choiceText>Technology hardware purchase/lease</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Technology hardware purchase/lease</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICETechnologysubscriptionssoftware</name>
        <choiceText>Technology subscriptions/software</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Technology subscriptions/software</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICEWork</name>
        <choiceText>Work Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Work</stringValue>
        </value>
    </choices>
    <choices>
        <name>DeptEmergingLeadersProgram</name>
        <choiceText>(105) Emerging Leaders (includes ILT Summits)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>(105) Emerging Leaders Program</stringValue>
        </value>
    </choices>
    <choices>
        <name>DeptPrincipalInstitute</name>
        <choiceText>(141) Flexible Programs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>(141) Principal Institute</stringValue>
        </value>
    </choices>
    <choices>
        <name>FacilitiesandAdmin</name>
        <choiceText>(930) Facilities and Admin</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>(930) Facilities and Admin</stringValue>
        </value>
    </choices>
    <choices>
        <name>FiscalSponsorship</name>
        <choiceText>Fiscal Sponsorship</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fiscal Sponsorship</stringValue>
        </value>
    </choices>
    <choices>
        <name>HigherEducationPartnerships</name>
        <choiceText>(360) Higher Education Partnerships</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>(360) Higher Education Partnerships</stringValue>
        </value>
    </choices>
    <choices>
        <name>HigherEducationPartnershipsTeamChoice</name>
        <choiceText>Higher Education Partnerships</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Higher Education Partnerships</stringValue>
        </value>
    </choices>
    <choices>
        <name>InnovationServices</name>
        <choiceText>(490) Innovation Services</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>(490) Innovation Services</stringValue>
        </value>
    </choices>
    <choices>
        <name>LeadershipAcademydeptchoice</name>
        <choiceText>(296) Leadership Academy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>(296) Leadership Academy</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lease</name>
        <choiceText>Lease</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lease</stringValue>
        </value>
    </choices>
    <choices>
        <name>Materials</name>
        <choiceText>Materials</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Materials</stringValue>
        </value>
    </choices>
    <choices>
        <name>NationalAspiringPrincipalsFellowship</name>
        <choiceText>(225) National Aspiring Principals Fellowship</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>(225) National Aspiring Principals Fellowship</stringValue>
        </value>
    </choices>
    <choices>
        <name>NationalAspiringPrincipalsFellowshipTEamChoice</name>
        <choiceText>National Aspiring Principals Fellowship</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>National Aspiring Principals Fellowship</stringValue>
        </value>
    </choices>
    <choices>
        <name>NationalProgramImplementationdeptchargechoice</name>
        <choiceText>(840) National Program Implementation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>(840) National Program Implementation</stringValue>
        </value>
    </choices>
    <choices>
        <name>New</name>
        <choiceText>New Contract or Procurement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Non_Consulting_Services</name>
        <choiceText>Non-Consulting Services</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non-Consulting Services</stringValue>
        </value>
    </choices>
    <choices>
        <description>Empty/None Value Option</description>
        <name>None</name>
        <choiceText>Required Field - Please Choose One</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <choices>
        <name>NoPaidbygeneraloperatingfunds</name>
        <choiceText>No (Paid by general operating funds)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No (Paid by general operating funds)</stringValue>
        </value>
    </choices>
    <choices>
        <name>OppContractCHOICE</name>
        <choiceText>Opportunity Contract&#39;s need to be added using the related list on an opportunity!</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Opportunity_Contract</stringValue>
        </value>
    </choices>
    <choices>
        <name>OrganizationalLearning</name>
        <choiceText>(197) Organizational Learning</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>(197) Organizational Learning</stringValue>
        </value>
    </choices>
    <choices>
        <name>OrganizationalSupport</name>
        <choiceText>Organizational Support</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shared Services</stringValue>
        </value>
    </choices>
    <choices>
        <name>Policy</name>
        <choiceText>Policy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Research, Evaluation and Policy</stringValue>
        </value>
    </choices>
    <choices>
        <name>Procurementtoplevel</name>
        <choiceText>Procurement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Procurement</stringValue>
        </value>
    </choices>
    <choices>
        <name>ProgramDesign</name>
        <choiceText>(196) Program Design</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>(196) Program Design</stringValue>
        </value>
    </choices>
    <choices>
        <name>Programs</name>
        <choiceText>Programs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Programs</stringValue>
        </value>
    </choices>
    <choices>
        <name>ProgramSupport</name>
        <choiceText>Program Support</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>National Program Implementation</stringValue>
        </value>
    </choices>
    <choices>
        <name>SalesMarketing</name>
        <choiceText>(905) Sales &amp;amp; Marketing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>(905) Sales &amp; Marketing</stringValue>
        </value>
    </choices>
    <choices>
        <name>ScalingBestPracticesAllroles</name>
        <choiceText>(443) Scaling Best Practices (All roles)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>(443) Scaling Best Practices (All roles)</stringValue>
        </value>
    </choices>
    <choices>
        <name>SmallBusiness</name>
        <choiceText>Small Business</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Small Business</stringValue>
        </value>
    </choices>
    <choices>
        <name>X0_3_500</name>
        <choiceText>$0 - $3,500</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>$0 - $3,500</stringValue>
        </value>
    </choices>
    <choices>
        <name>X150_000</name>
        <choiceText>$150,000+</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X3_501_149_999</name>
        <choiceText>$3,501 - $149,999</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>$3,501 - $149,999</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>True</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <decisions>
        <name>DECComparative_Vendor</name>
        <label>Comparative Vendor</label>
        <locationX>578</locationX>
        <locationY>3854</locationY>
        <defaultConnector>
            <targetReference>SCRAdd_Files</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SingleVendorHigh</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Multiple_Sources_ConsCustm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CHOICECostRange03500</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cost</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3500.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sole_Source_correspondence</targetReference>
            </connector>
            <label>Single Vendor High Amount</label>
        </rules>
        <rules>
            <name>MultipleSources</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Multiple_Sources_ConsCustm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCRMultiple_Source_Information</targetReference>
            </connector>
            <label>MultipleSources</label>
        </rules>
    </decisions>
    <decisions>
        <name>DECIs_Other_Or_Procurement_Type_Check_2</name>
        <label>Is Other Or Procurement Type Check 2</label>
        <locationX>1370</locationX>
        <locationY>4598</locationY>
        <defaultConnector>
            <targetReference>Create_New_ProcurementOROTHER</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutComeProcurement2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProcurementNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>True</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateExternalContact</targetReference>
            </connector>
            <label>Procurement</label>
        </rules>
    </decisions>
    <decisions>
        <description>shows opportunity screen if paid by source</description>
        <name>DECPaidForBySource</name>
        <label>PaidForBySource</label>
        <locationX>314</locationX>
        <locationY>1862</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PaidForByNewLeaders</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Paid_by_Specific_Funding_Source2</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCRProcurmentDetails</targetReference>
            </connector>
            <label>PaidForByNewLeaders</label>
        </rules>
        <rules>
            <name>PaidForWithOpportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Paid_by_Specific_Funding_Source2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCRPaidByOtherSource</targetReference>
            </connector>
            <label>PaidForWithOpportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>DECPicklists_Filled</name>
        <label>Picklists Filled?</label>
        <locationX>842</locationX>
        <locationY>1286</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cost_Range_cstm</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Multiple_Sources_ConsCustm</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Technology_Diversion</targetReference>
            </connector>
            <label>All Filled</label>
        </rules>
        <rules>
            <name>Not_All_Filled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Cost_Range_cstm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Multiple_Sources_ConsCustm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCRMissing_Info_1</targetReference>
            </connector>
            <label>Not All Filled</label>
        </rules>
    </decisions>
    <decisions>
        <description>Adds More Screens to get needed info for consulting contracts vs other procuremnents</description>
        <name>DECProcurement_Type</name>
        <label>Procurement Type</label>
        <locationX>578</locationX>
        <locationY>3158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ConsultingNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_procurement_is_this</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CHOICEConsulting</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCRConsultingProcNew</targetReference>
            </connector>
            <label>ConsultingNew</label>
        </rules>
        <rules>
            <name>NotConsultingNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_procurement_is_this</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CHOICEConsulting</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCRNon_Consulting_Proc_New</targetReference>
            </connector>
            <label>NotConsultingNew</label>
        </rules>
    </decisions>
    <decisions>
        <name>DECRecordTypeNextScreen</name>
        <label>RecordTypeNextScreen</label>
        <locationX>1281</locationX>
        <locationY>1095</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ProcurementNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarOriginalButtonChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Procurement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCRNew_Proc_Type</targetReference>
            </connector>
            <label>Procurement New</label>
        </rules>
        <rules>
            <name>Othercontract1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarOriginalButtonChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCROther_Contract</targetReference>
            </connector>
            <label>Othercontract1</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if Sing source doc should be assigned as attached or not - will fix this once attachment component works</description>
        <name>DECSingleSourceandOver3500</name>
        <label>SingleSourceandOver3500</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Dates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>SingleandLow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SingleVendorHigh</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cost_Range_cstm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CHOICECostRange03500</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dates</targetReference>
            </connector>
            <label>SingleandLow</label>
        </rules>
        <rules>
            <name>SingleHigh</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SingleVendorHigh</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cost_Range_cstm</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CHOICECostRange03500</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Single_Source_Attached_True</targetReference>
            </connector>
            <label>SingleHigh</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecWrongInternalContactSelected</name>
        <label>DecWrongInternalContactSelected</label>
        <locationX>314</locationX>
        <locationY>2678</locationY>
        <defaultConnector>
            <targetReference>GetExternalContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid Staff Contact</defaultConnectorLabel>
        <rules>
            <name>Bad_Staff_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetBadStaffContacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScrWrongStaffContactTryAgain</targetReference>
            </connector>
            <label>Bad Staff Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Household</name>
        <label>Household</label>
        <locationX>1189</locationX>
        <locationY>5740</locationY>
        <defaultConnector>
            <targetReference>Update_BizAccount_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Household</defaultConnectorLabel>
        <rules>
            <name>HouseholdEnd</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VARIsHousehold</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>True</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_HHAccount_Record_0</targetReference>
            </connector>
            <label>Household</label>
        </rules>
    </decisions>
    <decisions>
        <description>If a non-tech team user selects a tech type the procurement will be cancelled and a case created instead</description>
        <name>Technology_Diversion</name>
        <label>Technology Diversion?</label>
        <locationX>564</locationX>
        <locationY>1296</locationY>
        <defaultConnector>
            <targetReference>DECSingleSourceandOver3500</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Non_Tech_Team_Tech_Procurement</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>FRMUserDeptIsTech</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>What_type_of_procurement_is_this</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CHOICETechnologyhardwarepurchaselease</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>What_type_of_procurement_is_this</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CHOICETechnologysubscriptionssoftware</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetBIZSOLCaseRecordType</targetReference>
            </connector>
            <label>Non Tech Team Tech Procurement?</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AffLocation</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Affected_Program_Locations__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CostRange</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Cost_Range__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Depttobecharged</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Department_to_be_Charged__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FiscalYears</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Fiscal_Years_s__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FunctionTeam</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Function_Team__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FunctTeam</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Function_Team__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FundingSourceApproval</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Funding_Source_Approval__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FundingSourceType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Funding_Source_Type__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FY19</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Fiscal_Years_s__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Instrument</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Procurement_Instrument__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Contract MSC field</description>
        <name>MultipleSourcesConsiders</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Multiple_Sources_Considered__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaidbySpecificFundingSource</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Paid_by_Specific_Funding_Source__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PCSAccesstoConfInfo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Access_to_confidential_information__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Pulls from Contract&#39;s Pay Freq field</description>
        <name>PCSPayFreq</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Pay_Frequency__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PCSPurposeofConfidentialInformation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>PurOConInfo__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SmallBusType</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Small_Business_Type__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SoleSourceCriteria</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Sole_Source_Criteria__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>EndDateOpenEnd2</name>
        <dataType>Boolean</dataType>
        <expression>(ISBLANK({!EndDate2})&amp;&amp; {!Open_Ended2}= False) || ( NOT(ISBLANK({!EndDate2})) &amp;&amp; {!Open_Ended2} = True)</expression>
    </formulas>
    <formulas>
        <description>Concatenate description from procurement and other screens for create</description>
        <name>FRMCombinedDescription</name>
        <dataType>String</dataType>
        <expression>{!Description_of_contract} + {!Description_of_Procurement_Need}</expression>
    </formulas>
    <formulas>
        <description>question asked in 2 branches</description>
        <name>FRMCombinedPayFrequency</name>
        <dataType>String</dataType>
        <expression>{!Pay_FrequencySCR} + {!SCRPay_Frequency2}</expression>
    </formulas>
    <formulas>
        <name>FRMDefaultContractName</name>
        <dataType>String</dataType>
        <expression>LEFT({!VarAcctName}+TEXT(MONTH({!VARStartDate}))+&quot;/&quot; +TEXT(DAY({!VARStartDate}))+&quot;/&quot; +TEXT(YEAR({!VARStartDate}))+&quot; Contract&quot;,80)</expression>
    </formulas>
    <formulas>
        <description>Compares 2 checkbox answers if either is true delivers &#39;Yes&#39;</description>
        <name>FRMFinalValueofConfidentialInfo</name>
        <dataType>String</dataType>
        <expression>IF({!Access_to_Confidential_Information1},&#39;Yes&#39;,
IF({!Access_to_Confidential_InformationOTHER},&#39;Yes&#39;,&#39;No&#39;))</expression>
    </formulas>
    <formulas>
        <name>FRMLengthOfDesc</name>
        <dataType>Number</dataType>
        <expression>LEN({!Description_of_Procurement_Need})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Does the running user&#39;s department contain technology</description>
        <name>FRMUserDeptIsTech</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!$User.Department}, &quot;Technology&quot;)</expression>
    </formulas>
    <formulas>
        <name>RunningUserContactID</name>
        <dataType>String</dataType>
        <expression>{!GetCurrentUsersContactID.Id}</expression>
    </formulas>
    <interviewLabel>Create a Contract/Procurement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create a Contract/Procurement</label>
    <loops>
        <description>loops through all file ids</description>
        <name>Extract_Files_Loop</name>
        <label>Extract Files Loop</label>
        <locationX>1339</locationX>
        <locationY>5162</locationY>
        <collectionReference>COlVarFileIDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASNLink_File_and_Contract_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CREATEAdd_Files</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates case to deflect tech procurements that are not likely to be approved</description>
        <name>Create_CaseForTech</name>
        <label>Create Case For Tech</label>
        <locationX>989</locationX>
        <locationY>1544</locationY>
        <connector>
            <targetReference>Case_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>BITS_Category__c</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetCurrentUsersContactID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>TXTBodyforTechTicket</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Completion_Date__c</field>
            <value>
                <elementReference>Date_RequestedScr</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_GroupFor_Tech_Unassigned_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetBIZSOLCaseRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>VarAcctName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Account/Device Activation/Purchase</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_ProcurementOROTHER</name>
        <label>Create New Procurement</label>
        <locationX>1370</locationX>
        <locationY>4934</locationY>
        <assignRecordIdToReference>VARFinalContractId</assignRecordIdToReference>
        <connector>
            <targetReference>Extract_Files_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>Access_to_confidential_information__c</field>
            <value>
                <elementReference>FRMFinalValueofConfidentialInfo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>VARAcctIdText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AddInputAppNeed__c</field>
            <value>
                <elementReference>Description_and_Timing_Needs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comparative_Vendor_1_Name__c</field>
            <value>
                <elementReference>Comparative_Vendor_1_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comparative_Vendor_1_Price__c</field>
            <value>
                <elementReference>Comparative_Vendor_1_Price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comparative_Vendor_1_Source_of_Price__c</field>
            <value>
                <elementReference>Comparative_Vendor_1_Source_of_Price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comparative_Vendor_2_Name__c</field>
            <value>
                <elementReference>Comparative_Vendor_2_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comparative_Vendor_2_Price__c</field>
            <value>
                <elementReference>Comparative_Vendor_2_Price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comparative_Vendor_2_Source_of_Price__c</field>
            <value>
                <elementReference>Comparative_Vendor_2_Source_of_Price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consultant_vs_Internal__c</field>
            <value>
                <elementReference>Consultant_vs_Internal_Rationale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractDue__c</field>
            <value>
                <elementReference>Date_RequestedScr</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_Range__c</field>
            <value>
                <elementReference>Cost_Range_cstm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost__c</field>
            <value>
                <elementReference>Cost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department_to_be_Charged__c</field>
            <value>
                <elementReference>Department_To_Be_ChargedCstm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>FRMCombinedDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>VAREndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fiscal_Years_s__c</field>
            <value>
                <elementReference>Fiscal_Year_s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Function_Team__c</field>
            <value>
                <elementReference>VARFunctionalTeam</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funding_Organization_Name__c</field>
            <value>
                <elementReference>InteriumRelOpId.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funding_Source_Related_Opportunity__c</field>
            <value>
                <elementReference>LookupOpportunityFundingSource.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funding_Source_Type__c</field>
            <value>
                <elementReference>SCRFunding_Source_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal_Contact__c</field>
            <value>
                <elementReference>VarInternalContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_Project_Contacts__c</field>
            <value>
                <elementReference>Key_Project_Contact_s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LenDescrip__c</field>
            <value>
                <elementReference>FRMLengthOfDesc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_Business_Contact__c</field>
            <value>
                <elementReference>RelexternalContactLookupNEW.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Maximum_allowable_compensation__c</field>
            <value>
                <elementReference>Maximum_Allowable_Compensation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiple_Sources_Considered__c</field>
            <value>
                <elementReference>Multiple_Sources_ConsCustm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NL_Source__c</field>
            <value>
                <elementReference>WizardFlow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NL_employee_contractor_reports_to__c</field>
            <value>
                <elementReference>NL_employee_contractor_reports_t</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FRMDefaultContractName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Open_Ended_No_End_Date__c</field>
            <value>
                <elementReference>VAROpenEnded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paid_by_Specific_Funding_Source__c</field>
            <value>
                <elementReference>Paid_by_Specific_Funding_Source2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pay_Frequency__c</field>
            <value>
                <elementReference>FRMCombinedPayFrequency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pay_Rate__c</field>
            <value>
                <elementReference>Pay_Rate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProName__c</field>
            <value>
                <elementReference>VarProject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Procurement_Instrument__c</field>
            <value>
                <elementReference>Procurement_Instrument</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Procurement_Type__c</field>
            <value>
                <elementReference>What_type_of_procurement_is_this</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PurOConInfo__c</field>
            <value>
                <elementReference>VARPurofconfinfovar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>VARContractRectypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Small_Business_Type__c</field>
            <value>
                <elementReference>Small_Business_Type2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sole_Source_Criteria__c</field>
            <value>
                <elementReference>Single_Source_Criteria</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SpecialTerms</field>
            <value>
                <elementReference>Special_Terms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>VARStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft- Not Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Travel_Reimbursement__c</field>
            <value>
                <elementReference>VARTravelReinberse</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordCreates>
    <recordCreates>
        <name>CREATEAdd_Files</name>
        <label>Add Files</label>
        <locationX>1370</locationX>
        <locationY>5630</locationY>
        <connector>
            <targetReference>Household</targetReference>
        </connector>
        <inputReference>VarDocLinksss</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_GroupFor_Tech_Unassigned_Queue</name>
        <label>Get GroupFor Tech  Unassigned Queue</label>
        <locationX>744</locationX>
        <locationY>1581</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_CaseForTech</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BizSol_Unassigned</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAccountDetails</name>
        <label>GetAccountDetails</label>
        <locationX>1368</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignBooleanFalse</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VARAcctIdText</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>VarAcctRecName</assignToReference>
            <field>Account_Recognition_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>StartedAccountID.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarAcctName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VARVendorApprovedStatus</assignToReference>
            <field>VenApStat__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PrimaryContact.Id</assignToReference>
            <field>npe01__One2OneContact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VARIsHousehold</assignToReference>
            <field>npe01__SYSTEMIsIndividual__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets only Active Staff Contacts to narrow search</description>
        <name>GetBadStaffContacts</name>
        <label>GetActiveStaffContacts</label>
        <locationX>314</locationX>
        <locationY>2558</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DecWrongInternalContactSelected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CurrentNLStaff__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelInternalContactNEW.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetBIZSOLCaseRecordType</name>
        <label>GetBIZSOLCaseRecordType</label>
        <locationX>570</locationX>
        <locationY>1507</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_GroupFor_Tech_Unassigned_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BizSol</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContractRecordTypeIDNames</name>
        <label>GetContractRecordTypeIDNames</label>
        <locationX>1370</locationX>
        <locationY>846</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DECRecordTypeNextScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Modify</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>VARContractRecordTypeDevName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VARContractRectypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetCurrentUsersContactID</name>
        <label>GetCurrentUsersContactID</label>
        <locationX>1379</locationX>
        <locationY>607</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Timing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets External Contact Details</description>
        <name>GetExternalContact</name>
        <label>GetExternalContact</label>
        <locationX>578</locationX>
        <locationY>2798</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SCRExternal_Contact_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelexternalContactLookupNEW.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedAccttoRelOpp</name>
        <label>GetRelatedAccttoRelOpp</label>
        <locationX>270</locationX>
        <locationY>2102</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SCRProcurmentDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelatedOpportunity.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>InteriumRelOpId</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_BizAccount_Record</name>
        <label>Update Biz Account Record</label>
        <locationX>1162</locationX>
        <locationY>5903</locationY>
        <connector>
            <targetReference>Redirect</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VARAcctIdText</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Recognition_Name__c</field>
            <value>
                <elementReference>Account_Recognition_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_HHAccount_Record_0</name>
        <label>Update HH Account Record</label>
        <locationX>1327</locationX>
        <locationY>5889</locationY>
        <connector>
            <targetReference>Redirect</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VARAcctIdText</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npo02__Formal_Greeting__c</field>
            <value>
                <elementReference>Account_Recognition_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateExternalContact</name>
        <label>UpdateExternalContact</label>
        <locationX>1238</locationX>
        <locationY>4718</locationY>
        <connector>
            <targetReference>Create_New_ProcurementOROTHER</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelexternalContactLookupNEW.recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npe01__Preferred_Email__c</field>
            <value>
                <elementReference>IntEmailPrimary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__WorkEmail__c</field>
            <value>
                <elementReference>ExtWorkEmail.value</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Case_Created</name>
        <label>Case Created</label>
        <locationX>1167</locationX>
        <locationY>1541</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SCRCaseQueue</name>
            <fieldText>&lt;p&gt;A ticket/case has been sent to the tech team&#39;s queue for review.  Please allow 2 business days for a response.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCRAdd_Files</name>
        <label>Add Files</label>
        <locationX>1370</locationX>
        <locationY>4478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DECIs_Other_Or_Procurement_Type_Check_2</targetReference>
        </connector>
        <fields>
            <name>Account_Recognition_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VarAcctRecName</elementReference>
            </defaultValue>
            <fieldText>Account Recognition Name - Please complete</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;How the organization&#39;s name should appear on mail addresses and publications&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FilesUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>COlVarFileIDs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>VARFinalContractId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>COlVarFileIDs</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCRConsultingProcNew</name>
        <label>ConsultingProcNew</label>
        <locationX>314</locationX>
        <locationY>3278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignTravel</targetReference>
        </connector>
        <fields>
            <name>Consultant_vs_Internal_Rationale</name>
            <dataType>String</dataType>
            <fieldText>Consultant vs. Internal Rationale</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Please indicate why this work would be best performed by Consultant vs. Internal Staff.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SCRConsultingProcNew_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCRConsultingProcNew_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Pay_Rate</name>
                    <dataType>Currency</dataType>
                    <fieldText>Pay Rate</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Project-based fees are preferred. Time-based fees are permitted when contract is federally-funded ONLY with a determination that no other contract type is suitable.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCRConsultingProcNew_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Maximum_Allowable_Compensation</name>
                    <dataType>Currency</dataType>
                    <fieldText>Maximum Allowable Compensation</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Maximum allowable compensation for this contract. A value ($0 or greater) is required for consulting procurements&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Currency_Hint</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(253, 0, 0);&quot;&gt;Please only type numbers into Currency fields, the $ will auto-populate!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SCRConsultingProcNew_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCRConsultingProcNew_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Pay_FrequencySCR</name>
                    <choiceReferences>PCSPayFreq</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Pay Frequency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCRConsultingProcNew_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Travel_Reimbursement</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Travel Reimbursement</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Will consultant be reimbursed for travel expenses on top of fee?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SCRConsultingProcNew_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCRConsultingProcNew_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Key_Project_Contact_s</name>
                    <dataType>String</dataType>
                    <fieldText>Key Project Contact(s)</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;If consultant is a business (not an individual), will all the work be performed by specified people? If yes, identify them.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCRConsultingProcNew_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NL_employee_contractor_reports_t</name>
                    <dataType>String</dataType>
                    <fieldText>NL employee contractor reports to</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;New Leaders person overseeing vendor or Independent Contractor&#39;s work and approving invoices.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please limit entry to 255 characters&lt;/p&gt;</errorMessage>
                        <formulaExpression>Len({!NL_employee_contractor_reports_t} )&lt;255</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCRConsultingProcNewScreen2</name>
        <label>ConsultingProcNewScreen2</label>
        <locationX>314</locationX>
        <locationY>3517</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignAccessVariables</targetReference>
        </connector>
        <fields>
            <name>Access_to_Confidential_Information1</name>
            <dataType>Boolean</dataType>
            <fieldText>Grant Access to Confidential Information?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Will consultant have access or potential access to any confidential information of&lt;/p&gt;&lt;p&gt;New Leaders or a third party? Note: You must check YES if consultant will have access to Salesforce.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Purpose_of_Access_to_Confidential_Information1</name>
            <choiceReferences>PCSPurposeofConfidentialInformation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Purpose of Access to Confidential Information</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Access_to_Confidential_Information1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Project1</name>
            <dataType>String</dataType>
            <fieldText>Project</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Purpose_of_Access_to_Confidential_Information1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Option 4: to support a project</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>DIsplays External Contact and allows user to update contact Info</description>
        <name>SCRExternal_Contact_Review</name>
        <label>External Contact Review</label>
        <locationX>582</locationX>
        <locationY>2918</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignFunctTeam1</targetReference>
        </connector>
        <fields>
            <name>HelpUpdateContact</name>
            <fieldText>&lt;p&gt;Please ensure the main business contact&#39;s email is up to date by confirming/updating the Work Email field and setting the Preferred Email field to &quot;Work Email.&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SCRExternal_Contact_Review_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCRExternal_Contact_Review_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ExtContactName</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>firstName</name>
                        <value>
                            <elementReference>GetExternalContact.FirstName</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>lastName</name>
                        <value>
                            <elementReference>GetExternalContact.LastName</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <elementReference>True</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Disp</name>
            <fieldText>&lt;p&gt;Company: {!GetExternalContact.npsp__Primary_Affiliation__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SCRExternal_Contact_Review_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCRExternal_Contact_Review_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ExtWorkEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Work Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>GetExternalContact.Email</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCRExternal_Contact_Review_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>IntEmailPrimary</name>
                    <choiceReferences>CHOICEWork</choiceReferences>
                    <choiceReferences>CHOICEAlternateEmailAsPrimary</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetExternalContact.npe01__Preferred_Email__c</elementReference>
                    </defaultValue>
                    <fieldText>Preferred Email</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SCRExternal_Contact_Review_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCRExternal_Contact_Review_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisPersonalEmail</name>
                    <fieldText>&lt;p&gt;Personal Email: {!GetExternalContact.npe01__HomeEmail__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>CopyPersonalEmail</name>
                    <extensionName>c:clipboardButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>clipboardContent</name>
                        <value>
                            <elementReference>GetExternalContact.npe01__HomeEmail__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>removeClipboard</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_removeClipboard</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GetExternalContact.npe01__HomeEmail__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCRExternal_Contact_Review_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DispAlternateEmail</name>
                    <fieldText>&lt;p&gt;Alternate Email: {!GetExternalContact.npe01__AlternateEmail__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>CopyAltEmail</name>
                    <extensionName>c:clipboardButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>clipboardContent</name>
                        <value>
                            <elementReference>GetExternalContact.npe01__AlternateEmail__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_removeClipboard</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>removeClipboard</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GetExternalContact.npe01__AlternateEmail__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCRMissing_Info_1</name>
        <label>Missing Info</label>
        <locationX>982</locationX>
        <locationY>1220</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SCRNew_Proc_Type</targetReference>
        </connector>
        <fields>
            <name>PleaseGoBack</name>
            <fieldText>Please go back and fill in all required fields. Cost Range and Multiple Sources Considered.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCRMultiple_Source_Information</name>
        <label>Multiple Source Information</label>
        <locationX>578</locationX>
        <locationY>3974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SCRAdd_Files</targetReference>
        </connector>
        <fields>
            <name>SCRMultiple_Source_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCRMultiple_Source_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Comparative_Vendor_1_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Comparative Vendor #1: Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>3 Bids are required for all purchases greater than $3,500. Please include 2 vendors with comparative prices that were not selected.</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCRMultiple_Source_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Comparative_Vendor_1_Price</name>
                    <dataType>Currency</dataType>
                    <fieldText>Comparative Vendor #1: Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>3 Bids are required for all purchases greater than $3,500. Please include 2 vendors with comparative prices that were not selected.</helpText>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCRMultiple_Source_Information_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Comparative_Vendor_1_Source_of_Price</name>
                    <dataType>String</dataType>
                    <fieldText>Comparative Vendor #1: Source of Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>3 Bids are required for all purchases greater than $3,500. Please include 2 vendors with comparative prices that were not selected.</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>space1</name>
            <fieldText>&lt;p&gt;             &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SCRMultiple_Source_Information_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCRMultiple_Source_Information_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Comparative_Vendor_2_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Comparative Vendor #2: Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>3 Bids are required for all purchases greater than $3,500. Please include 2 vendors with comparative prices that were not selected.</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCRMultiple_Source_Information_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Comparative_Vendor_2_Price</name>
                    <dataType>Currency</dataType>
                    <fieldText>Comparative Vendor #2: Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>3 Bids are required for all purchases greater than $3,500. Please include 2 vendors with comparative prices that were not selected.</helpText>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCRMultiple_Source_Information_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Comparative_Vendor_2_Source_of_Price</name>
                    <dataType>String</dataType>
                    <fieldText>Comparative Vendor #2: Source of Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>3 Bids are required for all purchases greater than $3,500. Please include 2 vendors with comparative prices that were not selected.</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>compvendor</name>
            <fieldText>Please remember to attach the comparative vendor files before submitting.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCRNew_Proc_Type</name>
        <label>New Proc Type</label>
        <locationX>842</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DECPicklists_Filled</targetReference>
        </connector>
        <fields>
            <name>SCRNew_Proc_Type_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCRNew_Proc_Type_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>What_type_of_procurement_is_this</name>
                    <choiceReferences>CHOICEConsulting</choiceReferences>
                    <choiceReferences>Lease</choiceReferences>
                    <choiceReferences>Materials</choiceReferences>
                    <choiceReferences>Non_Consulting_Services</choiceReferences>
                    <choiceReferences>CHOICERealestatelease</choiceReferences>
                    <choiceReferences>CHOICEHotel</choiceReferences>
                    <choiceReferences>CHOICERestaurantscatering</choiceReferences>
                    <choiceReferences>CHOICECopyrightlicense</choiceReferences>
                    <choiceReferences>CHOICESpacerental</choiceReferences>
                    <choiceReferences>CHOICETechnologyhardwarepurchaselease</choiceReferences>
                    <choiceReferences>CHOICETechnologysubscriptionssoftware</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>What type of procurement is this?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>DISPTXTTechOnly</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(250, 0, 0);&quot;&gt;Please note: The tech team creates procurements for technology.  Feel free to move to the next screen and your request will be diverted to the technology team for review.  A procurement will not be created.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>(1 OR 2) AND 3</conditionLogic>
                        <conditions>
                            <leftValueReference>What_type_of_procurement_is_this</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CHOICETechnologyhardwarepurchaselease</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>What_type_of_procurement_is_this</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CHOICETechnologysubscriptionssoftware</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>FRMUserDeptIsTech</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCRNew_Proc_Type_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Paid_by_Specific_Funding_Source2</name>
                    <choiceReferences>NoPaidbygeneraloperatingfunds</choiceReferences>
                    <choiceReferences>Yes</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>NoPaidbygeneraloperatingfunds</defaultSelectedChoiceReference>
                    <fieldText>Paid by Specific Funding Source?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>Will work be paid for by a specific funding source? If yes, what funding source is paying for this work? Please note official name/identifier of funding, so that any restrictions from the funding source can be verified.</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SCRNew_Proc_Type_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCRNew_Proc_Type_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cost_Range_cstm</name>
                    <choiceReferences>CHOICECostRange03500</choiceReferences>
                    <choiceReferences>CHOICECostRange351499</choiceReferences>
                    <choiceReferences>CHOICEcostrange150plus</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>None</elementReference>
                    </defaultValue>
                    <fieldText>Cost Range</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>Select the applicable range for the total cost of this purchase. As outlined in the Procurement Policy &amp; Procedures, purchases with a total cost under $3,500 AND no signature requirement DO NOT require documentation in Salesforce.</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCRNew_Proc_Type_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Fiscal_Year_s</name>
                    <choiceReferences>FiscalYears</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Fiscal Year(s) (Use Ctrl-Click to select multiple)</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SCRNew_Proc_Type_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCRNew_Proc_Type_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>VARNullDate</elementReference>
                    </defaultValue>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>Date work or services start.</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCRNew_Proc_Type_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>End_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>VARNullDate</elementReference>
                    </defaultValue>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>Date work or services end. If unknown, set to last day of last Fiscal Year (e.g.&quot;6/30/2018&quot;).</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Open_Ended_No_End_Date</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Open Ended - No End Date</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Agreement is recurring or open-ended.</helpText>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Please be sure the start and end dates are   sequential and if open ended - leave the end date blank and check &quot;Open Ended - No End Date&quot;</errorMessage>
                <formulaExpression>(
{!Start_Date}&lt;= {!End_Date} &amp;&amp; ISBLANK({!End_Date})=False &amp;&amp;  {!Open_Ended_No_End_Date} = False
) 
||
((ISBLANK( {!End_Date})=True)
         &amp;&amp;
          {!Open_Ended_No_End_Date} = True
		  )</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>SCRNew_Proc_Type_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCRNew_Proc_Type_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Multiple_Sources_ConsCustm</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Multiple Sources Considered?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>Please refer to the Procurement Policy &amp; Procedures to determine when consideration of multiple sources is required; if required but did not take place, CFO approval must be obtained. Complete Comparative Vendor Section.</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCRNew_Proc_Type_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Small_Business_Type2</name>
                    <choiceReferences>SmallBusType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Small Business Type</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <helpText>Most state/municipal govt small business admin/economic development websites have directories of registered minority/womens businesses. (Example, http://www.sba8a.com, https://ny.newnycontracts.com/FrontEnd/ 
VendorSearchPublic.asp?XID=5173&amp;TN=ny)</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Special_Terms</name>
            <dataType>String</dataType>
            <fieldText>Special Terms</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Please note any concerns or issues specific to this contract that may impact the agreement terms (ex. a requirement to license special materials, a requirement to have a special registration).	&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCRNon_Consulting_Proc_New</name>
        <label>Non Consulting Proc New</label>
        <locationX>578</locationX>
        <locationY>3278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DECComparative_Vendor</targetReference>
        </connector>
        <fields>
            <name>Cost</name>
            <dataType>Currency</dataType>
            <fieldText>Cost</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Please include the cost of the goods or services based on the bid/price from the requested vendor/contractor</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>SCRPay_Frequency2</name>
            <choiceReferences>PCSPayFreq</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pay Frequency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description_of_Procurement_Need</name>
            <dataType>String</dataType>
            <fieldText>Description of Procurement Need</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Provide a brief description to help the approvers understand the purpose of the contract request. 

Note: Please Chatter @deborahjordan to update this section as program details change during the contract review and approval process.</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please shorten your description, limited to 32,000 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Description_of_Procurement_Need} ) &lt;31999</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCROther_Contract</name>
        <label>Other Details</label>
        <locationX>1635</locationX>
        <locationY>1162</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>OtherDatesandTeam</targetReference>
        </connector>
        <fields>
            <name>SCROther_Contract_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCROther_Contract_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Fiscal_Year_s_Use_Ctrl_Click_to_select_multiple</name>
                    <choiceReferences>FiscalYears</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Fiscal Year(s) (Use Ctrl-Click to select multiple)</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCROther_Contract_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Function_Team2custom</name>
                    <choiceReferences>FunctTeam</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Function Team</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>Team responsible for this contract.</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SCROther_Contract_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCROther_Contract_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start_Date2</name>
                    <dataType>Date</dataType>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>Date work or services start.</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCROther_Contract_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EndDate2</name>
                    <dataType>Date</dataType>
                    <fieldText>EndDate</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>Date work or services end. If unknown, set to last day of last Fiscal Year (e.g.&quot;6/30/2018&quot;).</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Open_Ended2</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Open Ended</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Agreement is recurring or open-ended.</helpText>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please be sure the start and end dates are   sequential and if open ended - leave the end date blank and check &quot;Open Ended - No End Date&quot;&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>(
{!Start_Date2}&lt;= {!EndDate2} &amp;&amp; ISBLANK({!EndDate2})=False &amp;&amp;  {!Open_Ended2} = False
) 
||
((ISBLANK( {!EndDate2})=True)
         &amp;&amp;
          {!Open_Ended2} = True
		  )</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Access_to_Confidential_InformationOTHER</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Access to Confidential Information</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PurposeOTHER</name>
            <choiceReferences>PCSPurposeofConfidentialInformation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Purpose</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Access_to_Confidential_InformationOTHER</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ProjectOTHER</name>
            <dataType>String</dataType>
            <fieldText>Project</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PurposeOTHER</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Option 4: to support a project</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Description_of_contract</name>
            <dataType>String</dataType>
            <fieldText>Description of contract</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Please enter a short description of that this contract is for&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCRPaidByOtherSource</name>
        <label>PaidByOtherSourceDetails</label>
        <locationX>270</locationX>
        <locationY>1982</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetRelatedAccttoRelOpp</targetReference>
        </connector>
        <fields>
            <name>LookupOpportunityFundingSource</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Funding_Source_Related_Opportunity__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Funding Source Related Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contract</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <elementReference>True</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SCRFunding_Source_Type</name>
            <choiceReferences>FundingSourceType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Funding Source Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>If you selected &quot;Yes&quot; for &quot;Paid for by a Specific Funding Source&quot; above, note the type of funding.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCRProcurmentDetails</name>
        <label>ProcurmentDetails</label>
        <locationX>315</locationX>
        <locationY>2316</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignInternalContactVariable</targetReference>
        </connector>
        <fields>
            <name>Procurement_Instrument</name>
            <choiceReferences>Instrument</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Procurement Instrument</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>All consultant requests and most other procurements require a procurement contract. Please contact Finance to discuss whether a purchase order may be appropriate in other situations.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SCRProcurmentDetails_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCRProcurmentDetails_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RelexternalContactLookupNEW</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contract</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>CustomerSignedId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Main Business Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>PrimaryContact.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>extlead</name>
                    <fieldText>&lt;p&gt;Client/partner/vendor&#39;s contact person. If left blank on an Opportunity Contract, will default to the Primary Contact on the Related Opportunity.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCRProcurmentDetails_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RelInternalContactNEW</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>CustomerSignedId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Internal Contact?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contract</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <elementReference>True</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>GetCurrentUsersContactID.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>InternalLead</name>
                    <fieldText>List the client engagement lead. 
(if left blank will default to contract owner)</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SCRProcurmentDetails_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCRProcurmentDetails_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Department_To_Be_ChargedCstm</name>
                    <choiceReferences>Depttobecharged</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>None</elementReference>
                    </defaultValue>
                    <fieldText>Department To Be Charged</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>If the invoice will need to be allocated to multiple departments, enter the home department.</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCRProcurmentDetails_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Functional_TeamCustom</name>
                    <choiceReferences>FunctTeam</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Functional Team</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>Team responsible for this contract.</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScrWrongStaffContactTryAgain</name>
        <label>Wrong Staff Go Back</label>
        <locationX>50</locationX>
        <locationY>2798</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DispWrongStaffContact</name>
            <fieldText>&lt;p&gt;The contact you selected for internal staff does not work at New Leaders, please go back and try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sole_Source_correspondence</name>
        <label>Sole Source correspondence</label>
        <locationX>314</locationX>
        <locationY>3973</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SCRAdd_Files</targetReference>
        </connector>
        <fields>
            <name>FileMem</name>
            <fieldText>Please remember to attach the sole source correspondence to the procurement before submitting.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Single_Source_Criteria</name>
            <choiceReferences>SoleSourceCriteria</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Single Source Criteria (Check all that apply)</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <helpText>&lt;p&gt;Explain the rationale for not considering multiple sources for this contract.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Timing</name>
        <label>Timing</label>
        <locationX>1167</locationX>
        <locationY>810</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetContractRecordTypeIDNames</targetReference>
        </connector>
        <fields>
            <name>Timing_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Timing_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_RequestedScr</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>VARNullDate</elementReference>
                    </defaultValue>
                    <fieldText>Due By</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>Deadline for sending contract to client. For time-sensitive contract requests, please allow at least five business days from the day the contract drafter receives notice of the contract draft request in Salesforce. Chatter Debbie if urgent!!!</helpText>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>Please enter a date after today!  If you need this request in less than 5 days please enter urgency in Timing Needs</errorMessage>
                        <formulaExpression>{!Date_RequestedScr} &gt; TODAY()</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Timing_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description_and_Timing_Needs</name>
                    <dataType>String</dataType>
                    <fieldText>Timing Needs - Additional Input &amp; Approval Needs</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>Indication of People outside the official approval process</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>UrgencyText</name>
            <fieldText>Please enter information about urgency if your request is due less than 7 business days from today.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FBBTIming</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>both</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Previous&quot;,&quot;value&quot;:&quot;Previous&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0,&quot;iconName&quot;:&quot;utility:back&quot;},{&quot;label&quot;:&quot;Next&quot;,&quot;value&quot;:&quot;Next&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>893</locationX>
        <locationY>61</locationY>
        <connector>
            <targetReference>GetAccountDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Rich Text for Contract Wizard Explaining Record Types</description>
        <name>ContractRecordTypeExplanation</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table class=&quot;ql-table-blob&quot; style=&quot;margin-left: auto; margin-right: auto; width: 774px;&quot; border=&quot;1&quot;&gt;
&lt;tbody&gt;
&lt;tr&gt;
&lt;td style=&quot;width: 114.656px;&quot;&gt;&lt;strong&gt;&lt;span style=&quot;color: #0000ff;&quot;&gt; CONTRACT RECORD TYPE&lt;/span&gt;&lt;/strong&gt;&lt;/td&gt;
&lt;td style=&quot;width: 359.344px;&quot;&gt;&lt;strong&gt;&lt;span style=&quot;color: #0000ff;&quot;&gt;DESCRIPTION&lt;/span&gt;&lt;/strong&gt;&lt;/td&gt;
&lt;td style=&quot;width: 312px;&quot;&gt;&lt;strong&gt;&lt;span style=&quot;color: #0000ff;&quot;&gt;CONSIDERATIONS&lt;/span&gt;&lt;/strong&gt;&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td style=&quot;width: 114.656px;&quot;&gt;&lt;span style=&quot;color: #0000ff;&quot;&gt;Procurement&lt;/span&gt;&lt;/td&gt;
&lt;td style=&quot;width: 359.344px;&quot;&gt;&lt;span style=&quot;color: #0000ff;&quot;&gt;Choose this option when New Leaders is paying for materials or a service (Cash Out). &lt;/span&gt;&lt;span style=&quot;color: #0000ff;&quot;&gt;Sub-types include:&lt;/span&gt;&lt;br /&gt;
&lt;ul&gt;
&lt;li style=&quot;font-weight: 400;&quot;&gt;&lt;span style=&quot;color: #0000ff;&quot;&gt;Purchase Orders&lt;/span&gt;&lt;/li&gt;
&lt;li style=&quot;font-weight: 400;&quot;&gt;&lt;span style=&quot;color: #0000ff;&quot;&gt;Materials&lt;/span&gt;&lt;/li&gt;
&lt;li style=&quot;font-weight: 400;&quot;&gt;&lt;span style=&quot;color: #0000ff;&quot;&gt;Consulting Contracts&lt;/span&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;/td&gt;
&lt;td style=&quot;width: 312px;&quot;&gt;&lt;span style=&quot;color: #0000ff;&quot;&gt;A Salesforce procurement must be submitted and approved before signing any contracts with outside parties&lt;/span&gt;&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td style=&quot;width: 114.656px;&quot;&gt;&lt;span style=&quot;color: #0000ff;&quot;&gt;Other &lt;/span&gt;&lt;/td&gt;
&lt;td style=&quot;width: 359.344px;&quot;&gt;&lt;span style=&quot;color: #0000ff;&quot;&gt;Choose this option for any contracts not associated with Procurements or Opportunities. For example, use this option for NDAs.&lt;/span&gt;&lt;/td&gt;
&lt;td style=&quot;width: 312px;&quot;&gt;&lt;span style=&quot;color: #0000ff;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/td&gt;
&lt;/tr&gt;
&lt;/tbody&gt;
&lt;/table&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Provides Help for Contract Type and New or Amend Screen</description>
        <name>ContractTypeHelp</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>General Info
Identifies whether a header or footer for a screen is available to the flow user. Help text is available from the header, and navigation buttons appear in the footer.
User Input Screen Fields
Lets users manually enter information. A flow user input field is a text box, long text area, number field, currency field, date field, date/time field, password field, or checkbox in a Screen element.
Choice Screen Fields
Lets users select from a set of choices. A flow choice field is a radio button, drop-down list, multi-select checkbox, or multi-select picklist in a Screen element.
Display Text Screen Fields
Displays information to users while theyre running the flow.
Lightning Component Screen Fields
Displays a Lightning component, such as to let the user upload a file. If your flow screen needs more than a simple input field or display text, build a custom Lightning component to fill the gap.</text>
    </textTemplates>
    <textTemplates>
        <name>ExplantionofContractOther</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!CHOICEContract_Other}</text>
    </textTemplates>
    <textTemplates>
        <name>HowtoOppContract</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Opportunity Contracts are created from an existing opportunity record.
Please navigate to the related tab of your account and open an opportunity to create an Opportunity Contract - A Button is available on the opportunity page</text>
    </textTemplates>
    <textTemplates>
        <description>comines first procurement screen fields for reference</description>
        <name>TXTBodyforTechTicket</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Cost Range: TEXT( {!Cost_Range_cstm})
Vendor: {!VarAcctName}
Start Date: {!Start_Date}
End Date: {!End_Date}
Special Terms: {!Special_Terms}</text>
    </textTemplates>
    <variables>
        <description>Collection of file Ids for insert</description>
        <name>COlVarFileIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>comparativevendor</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InteriumRelOpId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>PrimaryContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>RelatedFundingAcctRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Opp Related as Funder</description>
        <name>RelatedOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Account Rel as funder</description>
        <name>RelFundOppAcctID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>The ID passed from the account contract button</description>
        <name>StartedAccountID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>VARAcctIdText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>VARrecordId</elementReference>
        </value>
    </variables>
    <variables>
        <name>VarAcctName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarAcctRecName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Checks Doc attached box</description>
        <name>VARCheckDocBox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>True</elementReference>
        </value>
    </variables>
    <variables>
        <name>VARConfAcc</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>VARConfinfotobesharedvar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VARContractRecordTypeDevName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VARContractRectypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>012j0000000plxUAAQ</stringValue>
        </value>
    </variables>
    <variables>
        <name>VarCreateType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarDocLinksss</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>VarDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>VAREndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VARFinalContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VARFunctionalTeam</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarInternalContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>RunningUserContactID</elementReference>
        </value>
    </variables>
    <variables>
        <description>From NPSP</description>
        <name>VARIsHousehold</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VARNullDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAROpenEnded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Assigned to Hold Related Funding Opportunity</description>
        <name>VAROppAcctIDText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarOriginalButtonChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VARProcurementTypeVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarProject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VARPurofconfinfovar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>AccountID from original Record</description>
        <name>VARrecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VARSingleSourceDocAutoCheckVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>VARStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VARTravelReinberse</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>VARVendorApprovedStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WizardFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>WizardFlow1.0</stringValue>
        </value>
    </variables>
</Flow>
