unpackaged/main/default/flows/External_Legal_Finance_Autolaunch.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Chatter_Laura</name>
        <label>Chatter Laura</label>
        <locationX>50</locationX>
        <locationY>120</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Email_Paralegal</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>TXTLauraChatter3Days</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>GetLauraUserID.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>sends email action  External_Legal_CreatedFinance</description>
        <name>Email_Finance_Expenses_Lead</name>
        <label>Email Finance Expenses Lead</label>
        <locationX>406</locationX>
        <locationY>617</locationY>
        <actionName>NLExLgRq__c.External_Legal_CreatedFinance</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Most_Recent_FInance_Approval_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>emails paralegal as set in External_Legal_Created email action and template</description>
        <name>Email_Paralegal</name>
        <label>Email Paralegal</label>
        <locationX>204</locationX>
        <locationY>359</locationY>
        <actionName>NLExLgRq__c.External_Legal_Created</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Most_Recent_Legal_Approval_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>When a procurement document is not acceptable to finance legal and finance are alerted as the vendor needs to be contacted as the contract is now at risk</description>
        <name>Send_Rejection_to_Finance_and_Legal_for_action</name>
        <label>Send Rejection to Finance and Legal for action</label>
        <locationX>1223</locationX>
        <locationY>1065</locationY>
        <actionName>NLExLgRq__c.External_Legal_Request_Finance_and_Legal</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Negative_Request_Fields</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Approved_Status_Changed</name>
        <label>Approved Status Changed</label>
        <locationX>935</locationX>
        <locationY>735</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Finance_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApStat__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ApStat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finance Vendor Document Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Finance_Fields</targetReference>
            </connector>
            <label>Finance Approved</label>
        </rules>
        <rules>
            <name>Legal_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApStat__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ApStat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal Vendor Document Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Legal_Fields_Approved</targetReference>
            </connector>
            <label>Legal Approved</label>
        </rules>
        <rules>
            <name>Finance_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApStat__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ApStat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finance Vendor Document Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Finance_Fields_Rejected</targetReference>
            </connector>
            <label>Finance Rejected</label>
        </rules>
        <rules>
            <name>Legal_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApStat__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ApStat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal Vendor Document Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Legal_Fields_Rejected</targetReference>
            </connector>
            <label>Legal Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Created_Or_Updated</name>
        <label>Created Or Updated</label>
        <locationX>898</locationX>
        <locationY>512</locationY>
        <defaultConnector>
            <targetReference>Approved_Status_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Updated</defaultConnectorLabel>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FRMRequestIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal Vendor Document Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ApStat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Paralegal</targetReference>
            </connector>
            <label>Created Legal Requires Action</label>
        </rules>
        <rules>
            <name>Created_Finance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FRMRequestIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finance Vendor Document Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ApStat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Finance_Expenses_Lead</targetReference>
            </connector>
            <label>Created Finance Requires Action</label>
        </rules>
        <rules>
            <name>Is_New_No_Action</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FRMRequestIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ApStat__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <label>Is New No Action</label>
        </rules>
    </decisions>
    <decisions>
        <description>Consulting and Non consulting services will wait until legal has approved the request</description>
        <name>Does_Finance_External_Request_Need_Fulfillment_after_Legal_gets_documents</name>
        <label>Does Finance External Request Need Fulfillment after Legal gets documents?</label>
        <locationX>539</locationX>
        <locationY>1250</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Consulting_or_Non_Consulting</name>
            <conditionLogic>(1 OR 2 ) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Ctrt__r.Procurement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consulting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ctrt__r.Procurement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non-Consulting Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal Vendor Document Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Finance_Request</targetReference>
            </connector>
            <label>Consulting or Non Consulting approved legal request?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Request_Still_Pending</name>
        <label>Is Request Still Pending?</label>
        <locationX>719</locationX>
        <locationY>178</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApStat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_Type</targetReference>
            </connector>
            <label>Is Pending</label>
        </rules>
    </decisions>
    <decisions>
        <name>Request_Type</name>
        <label>Request Type</label>
        <locationX>419</locationX>
        <locationY>106</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Legal_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal Vendor Document Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetLauraUserID</targetReference>
            </connector>
            <label>Legal Request</label>
        </rules>
        <rules>
            <name>Finance_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finance Vendor Document Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Finance_Expenses_Lead</targetReference>
            </connector>
            <label>Finance Request</label>
        </rules>
    </decisions>
    <description>Triggered when an external Legal/Finance object is created or changed</description>
    <environments>Default</environments>
    <formulas>
        <name>FRMExternalFinanceReviewName2</name>
        <dataType>String</dataType>
        <expression>TEXT(NOW()) &amp; &quot; - &quot; &amp; LEFT(&quot;Finance - &quot; &amp; {!$Record.Account__r.Name} ,40)</expression>
    </formulas>
    <formulas>
        <name>FRMRequestIsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>FRMToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>External Legal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>External Legal/Finance Autolaunch</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates finance request only after legal has approved</description>
        <name>Create_Finance_Request</name>
        <label>Create Finance Request</label>
        <locationX>454</locationX>
        <locationY>1468</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApStat__c</field>
            <value>
                <stringValue>Under Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ctrt__c</field>
            <value>
                <elementReference>$Record.Ctrt__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FRMExternalFinanceReviewName2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Type__c</field>
            <value>
                <elementReference>TXTFinanceRequestType</elementReference>
            </value>
        </inputAssignments>
        <object>NLExLgRq__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetLauraUserID</name>
        <label>GetLauraUserID</label>
        <locationX>232</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Chatter_Laura</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>Contains</operator>
            <value>
                <stringValue>lkadetsky@newleaders.org</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Clear_Negative_Request_Fields</name>
        <label>Clear Negative Request Fields</label>
        <locationX>820</locationX>
        <locationY>1249</locationY>
        <connector>
            <targetReference>Does_Finance_External_Request_Need_Fulfillment_after_Legal_gets_documents</targetReference>
        </connector>
        <inputAssignments>
            <field>Disqualified_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Legal_Reason_for_Rejection__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates Account Status and Last Verified Date</description>
        <name>Update_Account_Finance_Fields</name>
        <label>Update Account Finance Fields</label>
        <locationX>1050</locationX>
        <locationY>851</locationY>
        <connector>
            <targetReference>Update_Vendor_Finance_Status_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Finance_Vendor_Approval_Reject_Notes__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VndLstQFin__c</field>
            <value>
                <elementReference>FRMToday</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates Account Status and Last Verified Date</description>
        <name>Update_Account_Finance_Fields_Rejected</name>
        <label>Update Account Finance Fields Rejected</label>
        <locationX>1386</locationX>
        <locationY>810</locationY>
        <connector>
            <targetReference>Update_Vendor_Finance_Status_Contract_Reject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Finance_Vendor_Approval_Reject_Notes__c</field>
            <value>
                <elementReference>$Record.Legal_Reason_for_Rejection__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VndLstQFin__c</field>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates Account Status and Last Verified Date</description>
        <name>Update_Account_Legal_Fields_Approved</name>
        <label>Update Account Legal Fields Approved</label>
        <locationX>652</locationX>
        <locationY>742</locationY>
        <connector>
            <targetReference>Update_Vendor_Legal_Status_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>VenejLgl__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VndLstQ__c</field>
            <value>
                <elementReference>FRMToday</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates Account Status and Last Verified Date</description>
        <name>Update_Account_Legal_Fields_Rejected</name>
        <label>Update Account Legal Fields Rejected</label>
        <locationX>1649</locationX>
        <locationY>741</locationY>
        <connector>
            <targetReference>Update_Vendor_Legal_Status_Contract_Reject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>VenejLgl__c</field>
            <value>
                <elementReference>$Record.Legal_Reason_for_Rejection__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VndLstQFin__c</field>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Most_Recent_FInance_Approval_Status</name>
        <label>Update Most Recent FInance Approval Status</label>
        <locationX>292</locationX>
        <locationY>736</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Ctrt__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Most_Recent_Finance_Doc_Approved_Status__c</field>
            <value>
                <elementReference>TEXTNew</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Most_Recent_Legal_Approval_Status</name>
        <label>Update Most Recent Legal Approval Status</label>
        <locationX>230</locationX>
        <locationY>545</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Ctrt__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MRVenAppSt__c</field>
            <value>
                <elementReference>TEXTNew</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Negative_Request_Fields</name>
        <label>Update Negative Request Fields</label>
        <locationX>1592</locationX>
        <locationY>1156</locationY>
        <inputAssignments>
            <field>Disqualified_Date__c</field>
            <value>
                <elementReference>FRMToday</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Vendor_Finance_Status_Contract</name>
        <label>Update Vendor Finance Status Contract</label>
        <locationX>1014</locationX>
        <locationY>1078</locationY>
        <connector>
            <targetReference>Clear_Negative_Request_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Ctrt__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Most_Recent_Finance_Doc_Approved_Status__c</field>
            <value>
                <elementReference>FRMApproved</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Vendor_Finance_Status_Contract_Reject</name>
        <label>Update Vendor Finance Status Contract Reject</label>
        <locationX>1210</locationX>
        <locationY>925</locationY>
        <connector>
            <targetReference>Send_Rejection_to_Finance_and_Legal_for_action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Ctrt__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Most_Recent_Finance_Doc_Approved_Status__c</field>
            <value>
                <elementReference>FRMRejected</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Vendor_Legal_Status_Contract</name>
        <label>Update Vendor Legal  Status Contract</label>
        <locationX>529</locationX>
        <locationY>922</locationY>
        <connector>
            <targetReference>Clear_Negative_Request_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Ctrt__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MRVenAppSt__c</field>
            <value>
                <elementReference>FRMApproved</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Vendor_Legal_Status_Contract_Reject</name>
        <label>Update Vendor Legal Status Contract Reject</label>
        <locationX>1611</locationX>
        <locationY>938</locationY>
        <connector>
            <targetReference>Update_Negative_Request_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Ctrt__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MRVenAppSt__c</field>
            <value>
                <elementReference>FRMRejected</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <start>
        <locationX>1244</locationX>
        <locationY>53</locationY>
        <connector>
            <targetReference>Created_Or_Updated</targetReference>
        </connector>
        <object>NLExLgRq__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X3_days_after_create</name>
            <connector>
                <targetReference>Is_Request_Still_Pending</targetReference>
            </connector>
            <label>3 days after create</label>
            <offsetNumber>3</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X6_Days_After_Create</name>
            <connector>
                <targetReference>Is_Request_Still_Pending</targetReference>
            </connector>
            <label>6 Days After Create</label>
            <offsetNumber>6</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>FRMApproved</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Approved&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>FRMRejected</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Rejected</text>
    </textTemplates>
    <textTemplates>
        <name>TEXTNew</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New</text>
    </textTemplates>
    <textTemplates>
        <name>TXTFinanceRequestType</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Finance Vendor Document Review</text>
    </textTemplates>
    <textTemplates>
        <name>TXTLauraChatter3Days</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>This vendor document has been waiting 3 days</text>
    </textTemplates>
</Flow>
