unpackaged/main/default/flows/Marketing_Comm_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Alerts the case owner assigned by formula</description>
        <name>Alert_Case_Owner_New</name>
        <label>Alert Case Owner New</label>
        <locationX>2091</locationX>
        <locationY>832</locationY>
        <actionName>Case.Case_NewCreatedAlertComs</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ThanksScrn</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>VarNewCaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>AutoResponse</name>
        <label>CreateAutoResponse</label>
        <locationX>1756</locationX>
        <locationY>596</locationY>
        <actionName>Case.Case_marketing_Autoresponse</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>DummyTask</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>VarNewCaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>AutoResponseImport</name>
        <label>AutoResponseImport</label>
        <locationX>1575</locationX>
        <locationY>1531</locationY>
        <actionName>Case.Case_marketing_Autoresponse</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>DummyTask_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>VarNewCaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>AutoResponseRevGraphics</name>
        <label>AutoResponseRevGraphics</label>
        <locationX>1622</locationX>
        <locationY>1280</locationY>
        <actionName>Case.Case_marketing_Autoresponse</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>DummyTask_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>VarNewCaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>AutoResponseWEbsite</name>
        <label>AutoResponseWebsite</label>
        <locationX>1516</locationX>
        <locationY>1679</locationY>
        <actionName>Case.Case_marketing_Autoresponse</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>DummyTask_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>VarNewCaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Event_Autoresponse</name>
        <label>Event Autoresponse</label>
        <locationX>1676</locationX>
        <locationY>876</locationY>
        <actionName>Case.Case_marketingcreateevent_Autoresponse</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>DummyTask_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>VarNewCaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ReviewLocate</name>
        <label>AutoResponseRevLocate</label>
        <locationX>1596</locationX>
        <locationY>1015</locationY>
        <actionName>Case.Case_marketing_Autoresponse</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>DummyTask_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>VarNewCaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>Assigns Case Parent ID Variable hopefully once</description>
        <name>Assign_Case_Parent_ID</name>
        <label>Assign Case Parent ID</label>
        <locationX>1626</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>VarCASEparentID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarNewCaseID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewCaseID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Request_TypePge</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AlumniTier1Deeplearning</name>
        <choiceText>Alumni Tier 1 - Deep learning</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Alumni Tier 1 - Deep learning</stringValue>
        </value>
    </choices>
    <choices>
        <name>AlumniTier2MostPathwayslearning</name>
        <choiceText>Alumni Tier 2- Most Pathways learning</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Alumni Tier 2- Most Pathways learning</stringValue>
        </value>
    </choices>
    <choices>
        <name>AlumniTier3Flexorshortprogramming</name>
        <choiceText>Alumni Tier 3- Flex or short programming</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Alumni Tier 3- Flex or short programming</stringValue>
        </value>
    </choices>
    <choices>
        <name>Blog</name>
        <choiceText>Blog</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Blog</stringValue>
        </value>
    </choices>
    <choices>
        <name>Branding</name>
        <choiceText>Branding</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Branding</stringValue>
        </value>
    </choices>
    <choices>
        <name>CaseStudy</name>
        <choiceText>Case Study</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Case Study</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_DesignBrochure</name>
        <choiceText>&lt;span style=&quot;font-size: 14.6667px; font-family: WordVisi_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0);&quot;&gt;Brochure&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Brochure</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_DesignFlyer</name>
        <choiceText>&lt;span style=&quot;font-size: 14.6667px; font-family: WordVisi_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0);&quot;&gt;Flyer&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Flyer</stringValue>
        </value>
    </choices>
    <choices>
        <description>Other</description>
        <name>Choice_DesignOther</name>
        <choiceText>&lt;span style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; background-color: rgb(255, 255, 255); font-size: 11pt; color: rgb(0, 0, 0);&quot;&gt;Other&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <description>Presentation</description>
        <name>Choice_DesignPresentation</name>
        <choiceText>&lt;span style=&quot;font-size: 14.6667px; font-family: WordVisi_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0);&quot;&gt;Presentation&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Presentation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_DesignTemplate</name>
        <choiceText>&lt;span style=&quot;font-size: 14.6667px; font-family: WordVisi_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0);&quot;&gt;Template&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Template</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceAspiringPrincipalsInduction</name>
        <choiceText>&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Aspiring Principals Induction&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Aspiring Principals Induction</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceAspiringPrincipalsResidency</name>
        <choiceText>&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Aspiring Principals Residency&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Aspiring Principals Residency</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceEmergingLeaders</name>
        <choiceText>&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Emerging Leaders&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Emerging Leaders</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceHigherEducationPartnerships</name>
        <choiceText>&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Higher Education Partnerships&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Higher Education Partnerships</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceInstructionalLeadershipTeamSummit</name>
        <choiceText>&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Instructional Leadership Team Summit&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Instructional Leadership Team Summit</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceLeadershipDevelopmentPathways</name>
        <choiceText>&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Leadership Development Pathways&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Leadership Development Pathways</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceLeadingandLearningWorkshops</name>
        <choiceText>&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Leading and Learning Workshops&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Leading and Learning Workshops</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceNationalAspiringPrincipalsFellowship</name>
        <choiceText>&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;National Aspiring Principals Fellowship&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>National Aspiring Principals Fellowship</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoicePrincipalCoaching</name>
        <choiceText>&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Principal Coaching&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Principal Coaching</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceShowcase</name>
        <choiceText>&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Showcase&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Showcase</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceSystemLevelConsulting</name>
        <choiceText>&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;System Level Consulting&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>System Level Consulting</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceVirtualLeadershipAcademy</name>
        <choiceText>&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Virtual Leadership Academy&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Virtual Leadership Academy</stringValue>
        </value>
    </choices>
    <choices>
        <name>Collateral</name>
        <choiceText>Collateral / 2 Pager</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Collateral / 2 Pager</stringValue>
        </value>
    </choices>
    <choices>
        <name>Create</name>
        <choiceText>&lt;strong&gt;CREATE &lt;/strong&gt;New Content</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create</stringValue>
        </value>
    </choices>
    <choices>
        <name>CriticalClientCommunications</name>
        <choiceText>Critical Client Communications</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Critical Client Communications</stringValue>
        </value>
    </choices>
    <choices>
        <name>CurrentPartners</name>
        <choiceText>Current Partners</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Current Partners</stringValue>
        </value>
    </choices>
    <choices>
        <description>Data Analytics</description>
        <name>DataAnalytics</name>
        <choiceText>Data Analytics</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Data Analytics</stringValue>
        </value>
    </choices>
    <choices>
        <name>Districtstateleaders</name>
        <choiceText>District/state leaders</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non-NL district/state leaders</stringValue>
        </value>
    </choices>
    <choices>
        <name>Eblast</name>
        <choiceText>Eblast</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Eblast</stringValue>
        </value>
    </choices>
    <choices>
        <name>EmailNurtureProgram</name>
        <choiceText>Email Nurture Program</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email Nurture Program</stringValue>
        </value>
    </choices>
    <choices>
        <name>Express</name>
        <choiceText>Express (next 3-5 days)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Express (next 3-5 days)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fast</name>
        <choiceText>Fast (2 weeks)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fast (2 weeks)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Funders</name>
        <choiceText>Funders</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Funders</stringValue>
        </value>
    </choices>
    <choices>
        <description>Choose Graphic Design Project Path</description>
        <name>Graphic</name>
        <choiceText>Need &lt;strong&gt;DESIGN &lt;/strong&gt;Support</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Graphic Design</stringValue>
        </value>
    </choices>
    <choices>
        <name>ImpChoicestaff</name>
        <choiceText>Staff</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NL staff</stringValue>
        </value>
    </choices>
    <choices>
        <description>Pushes Hubspot Import Path</description>
        <name>Import</name>
        <choiceText>Create Email Contact &lt;strong&gt;SEGMENT&lt;/strong&gt; List</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Import</stringValue>
        </value>
    </choices>
    <choices>
        <name>ImportActiveProgramparticipants</name>
        <choiceText>Active Program participants</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Active Program participants</stringValue>
        </value>
    </choices>
    <choices>
        <name>ImportOtherAudience</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>InPerson</name>
        <choiceText>In-Person</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In-Person</stringValue>
        </value>
    </choices>
    <choices>
        <name>LeadGeneration</name>
        <choiceText>Lead Generation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lead Generation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Locate</name>
        <choiceText>&lt;b&gt;LOCATE: &lt;/b&gt;existing org-content</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Locate</stringValue>
        </value>
    </choices>
    <choices>
        <name>LookingAhead</name>
        <choiceText>Looking ahead (1 month+)&amp;nbsp;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Looking ahead (1 month+)</stringValue>
        </value>
    </choices>
    <choices>
        <name>MailingAddress</name>
        <choiceText>Mailing Address&amp;nbsp;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mailing Address </stringValue>
        </value>
    </choices>
    <choices>
        <name>Media</name>
        <choiceText>Media</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Media</stringValue>
        </value>
    </choices>
    <choices>
        <name>Newsletters</name>
        <choiceText>Newsletters</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Newsletters</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewsStory</name>
        <choiceText>News Story</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>News Story</stringValue>
        </value>
    </choices>
    <choices>
        <name>NLalumni</name>
        <choiceText>&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Alumni&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NL alumni</stringValue>
        </value>
    </choices>
    <choices>
        <name>NLpartnersprogramparticipants</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Partners/program participants&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NL partners/program participants</stringValue>
        </value>
    </choices>
    <choices>
        <name>NLstaff</name>
        <choiceText>&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Staff&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NL staff</stringValue>
        </value>
    </choices>
    <choices>
        <name>Nocopy</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Copy Editing NOT Needed</stringValue>
        </value>
    </choices>
    <choices>
        <name>NonNLdistrictstateleaders</name>
        <choiceText>District/state leaders</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non-NL district/state leaders</stringValue>
        </value>
    </choices>
    <choices>
        <name>NonNLschoolleaders</name>
        <choiceText>&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;School leaders&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non-NL school leaders</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoSignEvt</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Other&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>OtherImportInfo</name>
        <choiceText>Other Info</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Info</stringValue>
        </value>
    </choices>
    <choices>
        <name>OtherSUGFORMAT</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>OutreachSequence</name>
        <choiceText>Outreach Sequence</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Outreach Sequence</stringValue>
        </value>
    </choices>
    <choices>
        <name>PartnerOrg</name>
        <choiceText>Partner organization</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Partner organization</stringValue>
        </value>
    </choices>
    <choices>
        <name>PhoneNumber</name>
        <choiceText>Phone Number&amp;nbsp;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone Number </stringValue>
        </value>
    </choices>
    <choices>
        <name>Policybusinesscommunity</name>
        <choiceText>&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Policy/business community&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Policy/business community</stringValue>
        </value>
    </choices>
    <choices>
        <name>PressRelease</name>
        <choiceText>Press Release</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Press Release</stringValue>
        </value>
    </choices>
    <choices>
        <name>PrimaryEmailAddress</name>
        <choiceText>Primary Email Address&amp;nbsp;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Primary Email Address </stringValue>
        </value>
    </choices>
    <choices>
        <name>Promote</name>
        <choiceText>&lt;b&gt;PROMOTE&lt;/b&gt; An Event</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Promote</stringValue>
        </value>
    </choices>
    <choices>
        <name>Review</name>
        <choiceText>&lt;b&gt;REVIEW &lt;/b&gt;external-facing communication</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Review</stringValue>
        </value>
    </choices>
    <choices>
        <name>SalesActivation</name>
        <choiceText>Sales Activation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales Activation</stringValue>
        </value>
    </choices>
    <choices>
        <name>SalesEnablement</name>
        <choiceText>Sales Enablement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales Enablement</stringValue>
        </value>
    </choices>
    <choices>
        <name>Schoolleaders</name>
        <choiceText>School leaders</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non-NL school leaders</stringValue>
        </value>
    </choices>
    <choices>
        <description>SEO &amp; Discoverability</description>
        <name>SEODiscoverability</name>
        <choiceText>SEO &amp;amp; Discoverability</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SEO &amp; Discoverability</stringValue>
        </value>
    </choices>
    <choices>
        <name>Series</name>
        <choiceText>Email Series</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email Series</stringValue>
        </value>
    </choices>
    <choices>
        <name>SingleEmail</name>
        <choiceText>Single Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Single Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>SocialMediaCampaign</name>
        <choiceText>Social Media Campaign</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Social Media Campaign</stringValue>
        </value>
    </choices>
    <choices>
        <name>TitleChoiceAssistantPrincipal</name>
        <choiceText>Assistant Principal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Assistant Principal</stringValue>
        </value>
    </choices>
    <choices>
        <name>TitleChoiceDistrictleveldecisionmakers</name>
        <choiceText>District-level decision-makers</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>District-level decision-makers</stringValue>
        </value>
    </choices>
    <choices>
        <name>TitleChoiceOther</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>TitleChoicePrincipal</name>
        <choiceText>Principal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Principal</stringValue>
        </value>
    </choices>
    <choices>
        <name>TitleChoiceTeachers</name>
        <choiceText>Teachers</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Teachers</stringValue>
        </value>
    </choices>
    <choices>
        <description>request type to update existing material</description>
        <name>Update</name>
        <choiceText>&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;UPDATE &lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Material&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update</stringValue>
        </value>
    </choices>
    <choices>
        <name>Urgent</name>
        <choiceText>Urgent! (1 day)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Urgent! (1 day)</stringValue>
        </value>
    </choices>
    <choices>
        <name>UserEngagement</name>
        <choiceText>User Engagement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>User Engagement</stringValue>
        </value>
    </choices>
    <choices>
        <name>Virtual</name>
        <choiceText>Virtual</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Virtual</stringValue>
        </value>
    </choices>
    <choices>
        <name>WebUpdate</name>
        <choiceText>Update to &lt;strong&gt;WEBSITE&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Website Update</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yescopy</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes - Copy Editing Needed</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesNOTwebsiteRoadmap</name>
        <choiceText>Yes - This request is not on the roadmap</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesSignEvt</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>BillF</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005j000000BXSKnAAP</stringValue>
        </value>
    </constants>
    <constants>
        <name>MarketingComSourceVal</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ComForm</stringValue>
        </value>
    </constants>
    <constants>
        <name>MarketingRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0123Z0000019YC8QAM</stringValue>
        </value>
    </constants>
    <constants>
        <name>NewEmailFlag</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <constants>
        <name>ReviewDefault</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Multiple/Other</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Determines if there is already a parent variable so parent can either be assigned or used for children</description>
        <name>First_Case_or_Next_Case</name>
        <label>First Case or Next Case</label>
        <locationX>1964</locationX>
        <locationY>280</locationY>
        <defaultConnector>
            <targetReference>Request_TypePge</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Brand_New_No_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCASEparentID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_Parent_ID</targetReference>
            </connector>
            <label>Brand New No Parent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Renewal_or_End</name>
        <label>Renewal or End</label>
        <locationX>2305</locationX>
        <locationY>289</locationY>
        <defaultConnectorLabel>End</defaultConnectorLabel>
        <rules>
            <name>Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarEndScreenDecison</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create New Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>First_Case_or_Next_Case</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>TypeDec</name>
        <label>TypeDec</label>
        <locationX>760</locationX>
        <locationY>950</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_New_Content</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Request_TypeRdo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Content_Detail</targetReference>
            </connector>
            <label>Create New Content</label>
        </rules>
        <rules>
            <name>PromoteChoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Request_TypeRdo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Promote</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Promote_An_Event</targetReference>
            </connector>
            <label>Promote</label>
        </rules>
        <rules>
            <name>ReviewDes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Request_TypeRdo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Review</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Request_TypeRdo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Locate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Request_TypeRdo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Update</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReviewScrn1</targetReference>
            </connector>
            <label>RevieworLocateUpdate</label>
        </rules>
        <rules>
            <name>DesignDec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Request_TypeRdo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Graphic</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DesignScr</targetReference>
            </connector>
            <label>Design</label>
        </rules>
        <rules>
            <name>ImportDec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Request_TypeRdo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Import</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ImportSegment_Detail_0</targetReference>
            </connector>
            <label>Import</label>
        </rules>
        <rules>
            <name>Update_Website</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Request_TypeRdo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WebUpdate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCNWebsite_Update_Details</targetReference>
            </connector>
            <label>Update Website</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Depttobecharged</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Department_to_be_Charged__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FunctionalTeam</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Function_Team__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>programs</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Program_Purpose__c</picklistField>
        <picklistObject>npsp__General_Accounting_Unit__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StaffContactChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CurrentNLStaff__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Contact</object>
        <sortField>LastName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>AssigneebyType</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!Request_TypeRdo} ,&quot;LOCATE&quot;), {!Get_Group_For_Com_Content_Creation.Id} ,
IF(CONTAINS({!Request_TypeRdo} , &quot;REVIEW&quot;), {!Get_KarenS.Id},
IF(CONTAINS({!Request_TypeRdo} ,&quot;CREATE&quot;), {!Get_Group_For_Com_Content_Creation.Id},
IF(CONTAINS({!Request_TypeRdo} , &quot;PROMOTE&quot;),{!Get_Group_For_Com_Content_Creation.Id},
IF(CONTAINS({!Request_TypeRdo} , &quot;UPDATE&quot;),{!Get_Group_For_Com_Content_Creation.Id},
IF(CONTAINS({!Request_TypeRdo} , &quot;IMPORT&quot;),{!Get_Group_For_Com_Content_Creation.Id},
IF(CONTAINS({!Request_TypeRdo} , &quot;DESIGN&quot;), {!Get_Group_For_Com_Content_Creation.Id},
{!BillF})))))))</expression>
    </formulas>
    <formulas>
        <name>CombinedDescriptions</name>
        <dataType>String</dataType>
        <expression>{!DescriptionCreate} &amp; {!PromoteDescription} &amp; {!ReshUpdateDescription}</expression>
    </formulas>
    <formulas>
        <name>CombinedGraphicDesc</name>
        <dataType>String</dataType>
        <expression>&quot;Design Description: &quot; &amp;{!DesignRequestGraphicDescription} &amp;BR()  &amp;
&quot;List 3 Adj: &quot; &amp; {!DesignReqPlease_list_three} &amp;BR()  &amp;
&quot;Project Goal: &quot; &amp; {!DesignReqGoal} &amp;BR()  &amp;
&quot;Target Audience: &quot; &amp; {!DesignTarget_Audience} &amp;BR()  &amp;
&quot;What is being produced: &quot; &amp; {!PKLSTDesignWhatProducing} &amp; &quot;-&quot; &amp; {!Please_SpecifyOtherProducing}  &amp;BR()  &amp;
&quot;File Types: &quot; &amp; {!DesignFileTypes} &amp;BR()  &amp;
&quot;3 design examples/inspiration: &quot; &amp; {!Design_Inspiration_br}&amp;BR()  &amp;

 {!Is_copyedit} &amp; BR() &amp; &quot;Dept to be charged: &quot; &amp; {!Department_to_be_Charged} &amp; BR() &amp; &quot;Functional Team: &quot; &amp; {!Functional_Team} &amp; BR() &amp; &quot;Grant: &quot; &amp; {!Grant}</expression>
    </formulas>
    <formulas>
        <description>Pushes all weird import fields into a single description</description>
        <name>CombinedImportDesc</name>
        <dataType>String</dataType>
        <expression>&quot;Email Project Type: &quot; &amp; {!EmailProjectType}&amp; BR() &amp; 
&quot;Email Topic: &quot; &amp; {!TopicEmail}&amp; BR() &amp; 
&quot;Email Summary/Overview: &quot; &amp; {!ImportSummaryOverview}&amp; BR() &amp; 
&quot;Audiences: &quot; &amp; {!AudienceImport}&amp; &quot; &quot; &amp; {!ImportOther_Audience_Type} &amp; BR() &amp; 
&quot;Titles to include: &quot; &amp;  {!Job_Titles_to_include_Select_all_that_apply} &amp; &quot; &quot; &amp; {!TitlestoincludeOther}&amp; BR() &amp;
&quot;Geographic Area: &quot; &amp; {!ImportGeoArea} &amp; BR() &amp; 
&quot;Other parameters : &quot; &amp; {!ImportOtherparameters} &amp; BR() &amp;
&quot;Info needed: &quot; &amp;  {!Information_Needed_Select_all_that_apply}&amp; &quot; &quot; &amp; {!Other_Info_Please_specify}&amp; BR()</expression>
    </formulas>
    <formulas>
        <name>CombinedSubject</name>
        <dataType>String</dataType>
        <expression>{!ComtoBeReviewedUpdated} &amp; {!Event_Title_10_words_or_less} &amp; {!Topic} &amp; {!ComtoBeReviewedUpdated}</expression>
    </formulas>
    <formulas>
        <description>Compacts Design Request for Case Subject</description>
        <name>DesignSubject</name>
        <dataType>String</dataType>
        <expression>LEFT({!DesignRequestGraphicDescription},200)</expression>
    </formulas>
    <formulas>
        <name>Escalated</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!TimeLineFrm},{!Urgent})</expression>
    </formulas>
    <formulas>
        <name>FRMCombinedWebsiteDescription</name>
        <dataType>String</dataType>
        <expression>&quot;Current Challenge: &quot; &amp; {!Websitechallengeopp} &amp;BR()  &amp;
 &quot;Currently doing to address: &quot; &amp;  {!WEBSITEWhat_are_you_currently_doing_to_address_this} &amp; BR() &amp; 
&quot;Strategic Advantage: &quot; &amp;  {!WEBSITEWhat_are_the_strategic_or_competitive_advantages_driving_this_request}&amp; BR() &amp;
 &quot;How does this request align with website objectives: &quot; &amp; {!How_does_this_request_align_with_website_objectives_check_all_that_apply}&amp; BR() &amp; 
&quot;What data illuminates or substantiates this need? : &quot; &amp; {!What_data_illuminates_or_substantiates_this_need}&amp; BR() &amp; 
&quot;What data suggests this request will solve the problem? : &quot; &amp; {!What_data_suggests_this_request_will_solve_the_problem}&amp; BR() &amp; 
&quot;How will this request increase revenue or efficiencies?: &quot; &amp; {!How_does_this_request_align_with_website_objectives_check_all_that_apply}&amp; BR() &amp;
&quot;What will be achieved once this request is implemented?: &quot; &amp; {!What_will_be_achieved_once_this_request_is_implemented}&amp; BR() &amp;
&quot;Links to similar website pages (for inspiration!): &quot; &amp; {!Links_to_similar_website_pages_for_inspiration}&amp; BR() &amp;
&quot;Key internal stakeholders to consult: &quot; &amp; {!Key_internal_stakeholders_to_consult}&amp; BR() &amp;
&quot;Anything else we should know: &quot;</expression>
    </formulas>
    <formulas>
        <description>Calculates the date based on timeline selection</description>
        <name>FRMExpectedDateForm</name>
        <dataType>Date</dataType>
        <expression>IF (    CONTAINS({!TimeLineFrm},&quot;Urgent&quot;)  , TODAY() +1,
IF (    CONTAINS({!TimeLineFrm},&quot;Express&quot;)  , TODAY() +5,
IF (    CONTAINS({!TimeLineFrm},&quot;Fast&quot;)  , TODAY() +15,
IF (    CONTAINS({!TimeLineFrm},&quot;Looking&quot;)  , TODAY() +31

   ,NULL
     ))))</expression>
    </formulas>
    <formulas>
        <description>Different formula for imports</description>
        <name>FRMExpectedImportDateFrom</name>
        <dataType>Date</dataType>
        <expression>IF (   CONTAINS({!TmLnFormImport},&quot;Fast&quot;)  , TODAY() +15,
IF (   CONTAINS({!TmLnFormImport},&quot;Looking&quot;)  , TODAY() +31
   ,NULL
     ))</expression>
    </formulas>
    <formulas>
        <name>NOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>TimeStampIDTXT</name>
        <dataType>String</dataType>
        <expression>TEXT({!NOW})</expression>
    </formulas>
    <formulas>
        <name>WebsiteSubject</name>
        <dataType>String</dataType>
        <expression>LEFT({!Websitechallengeopp},200)</expression>
    </formulas>
    <interviewLabel>Marketing Comm Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Marketing Comm Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateCaseImport</name>
        <label>CreateCreateCaseImport</label>
        <locationX>1294</locationX>
        <locationY>1482</locationY>
        <assignRecordIdToReference>VarNewCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>AutoResponseImport</targetReference>
        </connector>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>Request_TypeRdo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CombinedImportDesc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EscalationReason__c</field>
            <value>
                <elementReference>ExpUrgent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MktAud__c</field>
            <value>
                <elementReference>AudienceImport</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NL_Source_ID__c</field>
            <value>
                <elementReference>TimeStampIDTXT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Email_Flag__c</field>
            <value>
                <elementReference>NewEmailFlag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>MarketingComSourceVal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Detail__c</field>
            <value>
                <elementReference>Is_copyedit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Type__c</field>
            <value>
                <elementReference>ImportOther_Audience_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>AssigneebyType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>VarCASEparentID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>TmLnFormImport</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>MarketingRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_by__c</field>
            <value>
                <elementReference>ImportDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Research_Links__c</field>
            <value>
                <elementReference>DesignLinks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TopicEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>ReviewDefault</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>CreateCreateCaseEvent</name>
        <label>CreateCreateCaseEvent</label>
        <locationX>1500</locationX>
        <locationY>875</locationY>
        <assignRecordIdToReference>VarNewCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Event_Autoresponse</targetReference>
        </connector>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>Request_TypeRdo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CombinedDescriptions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EscalationReason__c</field>
            <value>
                <elementReference>ExpUrgent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EvtEnd__c</field>
            <value>
                <elementReference>Event_End_Date_and_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EvtSt__c</field>
            <value>
                <elementReference>Event_STartDate_and_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ImpPplInt__c</field>
            <value>
                <elementReference>Important_people_to_interview_please_include_names_and_titles</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsEscalated</field>
            <value>
                <elementReference>Escalated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KyExtSK__c</field>
            <value>
                <elementReference>Key_External_Stakeholders</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KyIntSK__c</field>
            <value>
                <elementReference>Key_internal_stakeholders_to_include_in_process</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LnkSimEx__c</field>
            <value>
                <elementReference>Link_to_similar_example_for_inspiration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MktAud__c</field>
            <value>
                <elementReference>AudienceProm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NL_Lead__c</field>
            <value>
                <elementReference>StaffContactEvent.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NL_Source_ID__c</field>
            <value>
                <elementReference>TimeStampIDTXT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Email_Flag__c</field>
            <value>
                <elementReference>NewEmailFlag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oavch__c</field>
            <value>
                <elementReference>Other_available_channels_for_promotion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Objective__c</field>
            <value>
                <elementReference>ObjectiveEvent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>MarketingComSourceVal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Detail__c</field>
            <value>
                <elementReference>AnyElseknowEvent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>AssigneebyType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>VarCASEparentID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>TimeLineFrm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purpose__c</field>
            <value>
                <elementReference>PurposeAccomplishEvent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>MarketingRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_by__c</field>
            <value>
                <elementReference>FRMExpectedDateForm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Research_Links__c</field>
            <value>
                <elementReference>Related_research_links</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SUReq__c</field>
            <value>
                <elementReference>Sign_Up_RequiredEvt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CombinedSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Takeaway__c</field>
            <value>
                <elementReference>TakeAwayEvent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Format</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>CreateCreateCaseGraphics</name>
        <label>CreateCreateCaseGraphics</label>
        <locationX>1393</locationX>
        <locationY>1280</locationY>
        <assignRecordIdToReference>VarNewCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>AutoResponseRevGraphics</targetReference>
        </connector>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>Request_TypeRdo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CombinedGraphicDesc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EscalationReason__c</field>
            <value>
                <elementReference>ExpUrgent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsEscalated</field>
            <value>
                <elementReference>Escalated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NL_Source_ID__c</field>
            <value>
                <elementReference>TimeStampIDTXT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Email_Flag__c</field>
            <value>
                <elementReference>NewEmailFlag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>MarketingComSourceVal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Detail__c</field>
            <value>
                <elementReference>Is_copyedit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>AssigneebyType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>VarCASEparentID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>TimeLineFrm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>MarketingRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>FirstRegIDVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_by__c</field>
            <value>
                <elementReference>DesignDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Research_Links__c</field>
            <value>
                <elementReference>DesignLinks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>DesignSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>ReviewDefault</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>CreateCreateCasePro</name>
        <label>CreateCreateCasePromote</label>
        <locationX>1541</locationX>
        <locationY>687</locationY>
        <assignRecordIdToReference>VarNewCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>AutoResponse</targetReference>
        </connector>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>Request_TypeRdo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CombinedDescriptions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EscalationReason__c</field>
            <value>
                <elementReference>ExpUrgent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ImpPplInt__c</field>
            <value>
                <elementReference>Important_people_to_interview_please_include_names_and_titles</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsEscalated</field>
            <value>
                <elementReference>Escalated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KyExtSK__c</field>
            <value>
                <elementReference>Key_External_Stakeholders</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KyIntSK__c</field>
            <value>
                <elementReference>Key_internal_stakeholders_to_include_in_process</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LnkSimEx__c</field>
            <value>
                <elementReference>Link_to_similar_example_for_inspiration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MktAud__c</field>
            <value>
                <elementReference>AudienceCreate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NL_Source_ID__c</field>
            <value>
                <elementReference>TimeStampIDTXT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Email_Flag__c</field>
            <value>
                <elementReference>NewEmailFlag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oavch__c</field>
            <value>
                <elementReference>Suggested_FormatMulti</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Objective__c</field>
            <value>
                <elementReference>ObjectiveMarketCom</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>MarketingComSourceVal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Detail__c</field>
            <value>
                <elementReference>Anything_else_we_should_know</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Type__c</field>
            <value>
                <elementReference>Other_Format</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>AssigneebyType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>VarCASEparentID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>TimeLineFrm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purpose__c</field>
            <value>
                <elementReference>PurposeAccomplishMktCom</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>MarketingRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_by__c</field>
            <value>
                <elementReference>FRMExpectedDateForm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Research_Links__c</field>
            <value>
                <elementReference>Related_research_links</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CombinedSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Takeaway__c</field>
            <value>
                <elementReference>TakeawayMarktCOm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Create</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>CreateCreateCaseResearch</name>
        <label>CreateCreateCasePromote</label>
        <locationX>1393</locationX>
        <locationY>1104</locationY>
        <assignRecordIdToReference>VarNewCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>ReviewLocate</targetReference>
        </connector>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>Request_TypeRdo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CombinedDescriptions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EscalationReason__c</field>
            <value>
                <elementReference>ExpUrgent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsEscalated</field>
            <value>
                <elementReference>Escalated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MktAud__c</field>
            <value>
                <elementReference>AudienceReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NL_Source_ID__c</field>
            <value>
                <elementReference>TimeStampIDTXT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Email_Flag__c</field>
            <value>
                <elementReference>NewEmailFlag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>MarketingComSourceVal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Detail__c</field>
            <value>
                <elementReference>AnythingElseResearch</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>AssigneebyType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>VarCASEparentID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>TimeLineFrm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>MarketingRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_by__c</field>
            <value>
                <elementReference>FRMExpectedDateForm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Research_Links__c</field>
            <value>
                <elementReference>Please_also_provide_links_to_documents_for_review</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CombinedSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>ReviewDefault</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>CreateCreateCaseWebsite</name>
        <label>CreateCreateCaseWebsite</label>
        <locationX>1196</locationX>
        <locationY>1633</locationY>
        <assignRecordIdToReference>VarNewCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>AutoResponseWEbsite</targetReference>
        </connector>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>Request_TypeRdo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>FRMCombinedWebsiteDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EscalationReason__c</field>
            <value>
                <elementReference>ExpUrgent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsEscalated</field>
            <value>
                <elementReference>Escalated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LnkSimEx__c</field>
            <value>
                <elementReference>Links_to_similar_website_pages_for_inspiration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NL_Source_ID__c</field>
            <value>
                <elementReference>TimeStampIDTXT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Email_Flag__c</field>
            <value>
                <elementReference>NewEmailFlag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>MarketingComSourceVal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Detail__c</field>
            <value>
                <elementReference>Is_copyedit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>AssigneebyType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>VarCASEparentID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>TimeLineFrm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purpose__c</field>
            <value>
                <elementReference>Websitechallengeopp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>MarketingRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>FirstRegIDVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_by__c</field>
            <value>
                <elementReference>ImportDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>WebsiteSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>ReviewDefault</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>DummyTask</name>
        <label>AttachEmailRec</label>
        <locationX>1879</locationX>
        <locationY>704</locationY>
        <connector>
            <targetReference>Alert_Case_Owner_New</targetReference>
        </connector>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>VarNewCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CombinedSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TextBody</field>
            <value>
                <elementReference>CombinedDescriptions</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>DummyTask_0</name>
        <label>AttachEmailRec</label>
        <locationX>1808</locationX>
        <locationY>859</locationY>
        <connector>
            <targetReference>Alert_Case_Owner_New</targetReference>
        </connector>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>VarNewCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CombinedSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TextBody</field>
            <value>
                <elementReference>CombinedDescriptions</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>DummyTask_0_0</name>
        <label>AttachEmailRec</label>
        <locationX>1851</locationX>
        <locationY>1039</locationY>
        <connector>
            <targetReference>Alert_Case_Owner_New</targetReference>
        </connector>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>VarNewCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CombinedSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TextBody</field>
            <value>
                <elementReference>CombinedDescriptions</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>DummyTask_0_0_0</name>
        <label>AttachEmailRec</label>
        <locationX>1783</locationX>
        <locationY>1275</locationY>
        <connector>
            <targetReference>Alert_Case_Owner_New</targetReference>
        </connector>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>VarNewCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>DesignSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TextBody</field>
            <value>
                <elementReference>CombinedGraphicDesc</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>DummyTask_0_0_0_0</name>
        <label>AttachEmailRec</label>
        <locationX>1889</locationX>
        <locationY>1492</locationY>
        <connector>
            <targetReference>Alert_Case_Owner_New</targetReference>
        </connector>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>VarNewCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TopicEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TextBody</field>
            <value>
                <elementReference>CombinedImportDesc</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>DummyTask_0_0_0_0_0</name>
        <label>AttachEmailRec</label>
        <locationX>2181</locationX>
        <locationY>1636</locationY>
        <connector>
            <targetReference>Alert_Case_Owner_New</targetReference>
        </connector>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>VarNewCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TopicEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TextBody</field>
            <value>
                <elementReference>FRMCombinedWebsiteDescription</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_Info</name>
        <label>Get Contact Info</label>
        <locationX>352</locationX>
        <locationY>692</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_For_Com_Content_Creation</name>
        <label>Get Group For Com_Content_Creation</label>
        <locationX>464</locationX>
        <locationY>1004</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group_For_Communications_Internal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Com_Content_Creation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_For_Communications_Internal</name>
        <label>Get Group For Communications_Internal</label>
        <locationX>593</locationX>
        <locationY>1040</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TypeDec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Communications_Internal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_KarenS</name>
        <label>Get KarenS</label>
        <locationX>289</locationX>
        <locationY>1004</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group_For_Com_Content_Creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>kskalitzky@newleaders.org</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContact</name>
        <label>GetContact</label>
        <locationX>50</locationX>
        <locationY>855</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_KarenS</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_Info.Username</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Create_Content_Detail</name>
        <label>Create Content Detail</label>
        <locationX>1072</locationX>
        <locationY>761</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Content_Screen2</targetReference>
        </connector>
        <fields>
            <name>insitone</name>
            <fieldText>&lt;p&gt;{!insightsimportant}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Topic</name>
            <dataType>String</dataType>
            <fieldText>&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Topic:&lt;/b&gt; (10 Words or Less)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DescriptionCreate</name>
            <fieldText>&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Description:&lt;/b&gt; What would you like written about? What is most important for you to convey?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Suggested_FormatMulti</name>
            <choiceReferences>Blog</choiceReferences>
            <choiceReferences>SocialMediaCampaign</choiceReferences>
            <choiceReferences>PressRelease</choiceReferences>
            <choiceReferences>CaseStudy</choiceReferences>
            <choiceReferences>NewsStory</choiceReferences>
            <choiceReferences>Collateral</choiceReferences>
            <choiceReferences>OtherSUGFORMAT</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Suggested Format (Check all that apply)</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Other_Format</name>
            <dataType>String</dataType>
            <fieldText>&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Other Format&lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Suggested_FormatMulti</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>OtherSUGFORMAT</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AudienceCreate</name>
            <choiceReferences>NLpartnersprogramparticipants</choiceReferences>
            <choiceReferences>NLalumni</choiceReferences>
            <choiceReferences>NonNLdistrictstateleaders</choiceReferences>
            <choiceReferences>NonNLschoolleaders</choiceReferences>
            <choiceReferences>Funders</choiceReferences>
            <choiceReferences>NLstaff</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Audience:&lt;/b&gt; Choose all that apply</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>YourPurpose</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Your Purpose:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PurposeAccomplishMktCom</name>
            <fieldText>&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;What are you trying to accomplish?&lt;/b&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ObjectiveMarketCom</name>
            <fieldText>&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt; What is the overarching objective for New Leaders?&lt;/b&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TakeawayMarktCOm</name>
            <fieldText>&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Whats your call to action?&lt;/b&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Content_Screen2</name>
        <label>Create Content Screen2</label>
        <locationX>1291</locationX>
        <locationY>766</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateCreateCasePro</targetReference>
        </connector>
        <fields>
            <name>Related_research_links</name>
            <fieldText>Related research links: (e.g. research sites, news articles). If not applicable please type n/a.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Request_TypeRdo</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Create</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Important_people_to_interview_please_include_names_and_titles</name>
            <fieldText>Important people to interview (please include names and titles): If not applicable please type n/a.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Request_TypeRdo</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Create</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Key_internal_stakeholders_to_include_in_process</name>
            <fieldText>Key internal stakeholders to include in process:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Key_External_Stakeholders</name>
            <dataType>String</dataType>
            <fieldText>Key External Stakeholders</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Request_TypeRdo</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Promote</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Link_to_similar_example_for_inspiration</name>
            <fieldText>Link to similar example (for inspiration!):</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Anything_else_we_should_know</name>
            <fieldText>Anything else we should know?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DesignScr</name>
        <label>Design Details</label>
        <locationX>945</locationX>
        <locationY>1276</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateCreateCaseGraphics</targetReference>
        </connector>
        <fields>
            <name>DesignScr_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DesignScr_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DesignRequestGraphicDescription</name>
                    <fieldText>&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Description/Overview of design request &lt;/b&gt;</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>DesignReqPlease_list_three</name>
                    <fieldText>&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Please list three adjectives to describe the nature and tone of the project (i.e. bold, technical, modern) &lt;/b&gt;</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>DesignReqGoal</name>
                    <fieldText>&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Project Goal (what is the purpose of this design project?)&lt;/b&gt;</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DesignTarget_Audience</name>
            <choiceReferences>NLpartnersprogramparticipants</choiceReferences>
            <choiceReferences>NLalumni</choiceReferences>
            <choiceReferences>NonNLdistrictstateleaders</choiceReferences>
            <choiceReferences>NonNLschoolleaders</choiceReferences>
            <choiceReferences>Funders</choiceReferences>
            <choiceReferences>NLstaff</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Target Audience (select all that apply)</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DesignScr_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DesignScr_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PKLSTDesignWhatProducing</name>
                    <choiceReferences>Choice_DesignFlyer</choiceReferences>
                    <choiceReferences>Choice_DesignBrochure</choiceReferences>
                    <choiceReferences>Choice_DesignTemplate</choiceReferences>
                    <choiceReferences>Choice_DesignPresentation</choiceReferences>
                    <choiceReferences>Choice_DesignOther</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>What are you producing? Select all that apply</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Please_SpecifyOtherProducing</name>
                    <dataType>String</dataType>
                    <fieldText>&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Please Specify Other&lt;/b&gt;</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Choice_DesignOther</leftValueReference>
                            <operator>WasSelected</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DesignFileTypes</name>
            <fieldText>&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;What file type(s) would you like?&lt;/b&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Design_Inspiration_br</name>
            <fieldText>&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Design Inspiration: &lt;br&gt;Inspire us! Please list up to 3 examples of designs we can use as inspiration. These can be both existing internal designs or designs from competitors, publications, etc.&lt;/b&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DesignLinks</name>
            <fieldText>&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Please provide links to final copy/content.&lt;/b&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_copyedit</name>
            <choiceReferences>Yescopy</choiceReferences>
            <choiceReferences>Nocopy</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Is copy editing needed?&lt;/b&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DesignDueDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>FRMExpectedDateForm</elementReference>
            </defaultValue>
            <fieldText>&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;When does this design need to be ready to use?&lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please choose a date greater or equal to {!FRMExpectedDateForm}, or go back and select a different timeline.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!DesignDueDate}&gt;= {!FRMExpectedDateForm}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Department_to_be_Charged</name>
            <choiceReferences>Depttobecharged</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>Department to be Charged</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Functional_Team</name>
            <choiceReferences>FunctionalTeam</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>Functional Team</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RegionLU</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Region__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Region</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>FirstRegIDVar</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>FirstRegNameVar</assignToReference>
                <name>recordName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Grant</name>
            <dataType>String</dataType>
            <fieldText>Grant</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Event_Logistics</name>
        <label>Event Logistics</label>
        <locationX>1280</locationX>
        <locationY>884</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateCreateCaseEvent</targetReference>
        </connector>
        <fields>
            <name>Event_STartDate_and_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Event Start Date and Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Event_End_Date_and_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Event End Date and Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Format</name>
            <choiceReferences>InPerson</choiceReferences>
            <choiceReferences>Virtual</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Format</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Sign_Up_RequiredEvt</name>
            <choiceReferences>YesSignEvt</choiceReferences>
            <choiceReferences>NoSignEvt</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sign-Up Required?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Other_available_channels_for_promotion</name>
            <choiceReferences>Eblast</choiceReferences>
            <choiceReferences>Newsletters</choiceReferences>
            <choiceReferences>PartnerOrg</choiceReferences>
            <choiceReferences>Media</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Other available channels for promotion (Check all that apply)</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>StaffContactEvent</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>NL Lead: Who is the event lead and decision maker?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>MasterRecordId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>StaffContactChoice</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AnyElseknowEvent</name>
            <dataType>String</dataType>
            <fieldText>Anything else we should know?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ImportSegment_Detail_0</name>
        <label>Segment Import Detail</label>
        <locationX>813</locationX>
        <locationY>1391</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateCaseImport</targetReference>
        </connector>
        <fields>
            <name>EmailProjectType</name>
            <choiceReferences>SingleEmail</choiceReferences>
            <choiceReferences>Series</choiceReferences>
            <choiceReferences>EmailNurtureProgram</choiceReferences>
            <choiceReferences>OutreachSequence</choiceReferences>
            <choiceReferences>CriticalClientCommunications</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Email Project Type&lt;/b&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TopicEmail</name>
            <dataType>String</dataType>
            <fieldText>&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Email Topic&lt;/b&gt; (10 Words or Less) &lt;br&gt; Note if this is for an email series and multiple lists are required, please create a single ticket per list.&lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ImportSummaryOverview</name>
            <fieldText>&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Provide a summary overview of your email project:&lt;/b&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ImportSegment_Detail_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ImportSegment_Detail_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AudienceImport</name>
                    <choiceReferences>ImportActiveProgramparticipants</choiceReferences>
                    <choiceReferences>AlumniTier1Deeplearning</choiceReferences>
                    <choiceReferences>AlumniTier2MostPathwayslearning</choiceReferences>
                    <choiceReferences>AlumniTier3Flexorshortprogramming</choiceReferences>
                    <choiceReferences>Districtstateleaders</choiceReferences>
                    <choiceReferences>Schoolleaders</choiceReferences>
                    <choiceReferences>Funders</choiceReferences>
                    <choiceReferences>ImpChoicestaff</choiceReferences>
                    <choiceReferences>CurrentPartners</choiceReferences>
                    <choiceReferences>ImportOtherAudience</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Who is the audience for your email?&lt;/b&gt; Choose all that apply</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ImportOther_Audience_Type</name>
                    <dataType>String</dataType>
                    <fieldText>&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Other audience type was selected, please specify:&lt;/b&gt;</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please shorten your reponse to under 255 characters.&lt;/p&gt;</errorMessage>
                        <formulaExpression>Len ( {!ImportOther_Audience_Type} ) &lt; 255</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ImportOtherAudience</leftValueReference>
                            <operator>WasSelected</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ImportSegment_Detail_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ImportSegment_Detail_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Job_Titles_to_include_Select_all_that_apply</name>
                    <choiceReferences>TitleChoiceDistrictleveldecisionmakers</choiceReferences>
                    <choiceReferences>TitleChoicePrincipal</choiceReferences>
                    <choiceReferences>TitleChoiceAssistantPrincipal</choiceReferences>
                    <choiceReferences>TitleChoiceTeachers</choiceReferences>
                    <choiceReferences>TitleChoiceOther</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Job Titles to include. Select all that apply. &lt;/b&gt;</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>TitlestoincludeOther</name>
                    <dataType>String</dataType>
                    <fieldText>&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Other titles to include:&lt;/b&gt;</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TitleChoiceOther</leftValueReference>
                            <operator>WasSelected</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ImportGeoArea</name>
            <fieldText>&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Geographic Area&lt;/b&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ImportOtherparameters</name>
            <fieldText>&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Other parameters:&lt;/b&gt;Other parameters (e.g. only partners were delivering work to in FY23, has completed HubSpot form, not an existing partner)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ImportSegment_Detail_0_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ImportSegment_Detail_0_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Information_Needed_Select_all_that_apply</name>
                    <choiceReferences>PrimaryEmailAddress</choiceReferences>
                    <choiceReferences>PhoneNumber</choiceReferences>
                    <choiceReferences>MailingAddress</choiceReferences>
                    <choiceReferences>OtherImportInfo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Information Needed. Select all that apply.&lt;/b&gt;</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Other_Info_Please_specify</name>
                    <fieldText>&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Other Info, Please specify.&lt;/b&gt;</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>OtherImportInfo</leftValueReference>
                            <operator>WasSelected</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ImportDueDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>FRMExpectedImportDateFrom</elementReference>
            </defaultValue>
            <fieldText>&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;When does this email need to be sent?&lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please choose {!FRMExpectedImportDateFrom} or a later date as email imports need to match the timeline specified.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!ImportDueDate}&gt;= {!FRMExpectedImportDateFrom}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Promote_An_Event</name>
        <label>Promote An Event</label>
        <locationX>1004</locationX>
        <locationY>887</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Event_Logistics</targetReference>
        </connector>
        <fields>
            <name>incite2</name>
            <fieldText>&lt;p&gt;{!insightsimportant}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Event_Title_10_words_or_less</name>
            <dataType>String</dataType>
            <fieldText>&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Event Title:&lt;/b&gt;(10 words or less):</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PromoteDescription</name>
            <fieldText>&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Detailed description of event:&lt;/b&gt; (100+ words):</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AudienceProm</name>
            <choiceReferences>NLpartnersprogramparticipants</choiceReferences>
            <choiceReferences>NLalumni</choiceReferences>
            <choiceReferences>NonNLdistrictstateleaders</choiceReferences>
            <choiceReferences>NonNLschoolleaders</choiceReferences>
            <choiceReferences>Funders</choiceReferences>
            <choiceReferences>NLstaff</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Audience (Check all that apply)</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>YourPurposeEvent</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Your Purpose:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PurposeAccomplishEvent</name>
            <fieldText>&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;What do you most hope to accomplish via the event?&lt;/b&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ObjectiveEvent</name>
            <fieldText>&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;What is the overarching objective for New Leaders?&lt;/b&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TakeAwayEvent</name>
            <fieldText>&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Whats your call to action?&lt;/b&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Request_TypePge</name>
        <label>Request Type</label>
        <locationX>505</locationX>
        <locationY>714</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Contact_Info</targetReference>
        </connector>
        <fields>
            <name>Welcome</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Thank you for reaching out regarding your communication and marketing needs. We are here to support you. Our goal is to make this process as easy as possible for you. Here is what we need to get rolling:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Request_TypeRdo</name>
            <choiceReferences>Create</choiceReferences>
            <choiceReferences>Promote</choiceReferences>
            <choiceReferences>Update</choiceReferences>
            <choiceReferences>Import</choiceReferences>
            <choiceReferences>Graphic</choiceReferences>
            <choiceReferences>WebUpdate</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TmLnFormImport</name>
            <choiceReferences>LookingAhead</choiceReferences>
            <choiceReferences>Fast</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Requested Timeline for Imports</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Request_TypeRdo</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Import</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TimeLineFrm</name>
            <choiceReferences>LookingAhead</choiceReferences>
            <choiceReferences>Fast</choiceReferences>
            <choiceReferences>Express</choiceReferences>
            <choiceReferences>Urgent</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Requested timeline:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Request_TypeRdo</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Import</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Request_TypeRdo</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ExpUrgent</name>
            <dataType>String</dataType>
            <fieldText>Please explain why this is urgent:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TimeLineFrm</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Urgent</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ReviewScrn1</name>
        <label>Review Materials</label>
        <locationX>1094</locationX>
        <locationY>1103</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateCreateCaseResearch</targetReference>
        </connector>
        <fields>
            <name>inciteimp3</name>
            <fieldText>&lt;p&gt;{!insightsimportant}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ComtoBeReviewedUpdated</name>
            <dataType>String</dataType>
            <fieldText>&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Topic&lt;/b&gt; (10 words or less):</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ReshUpdateDescription</name>
            <fieldText>&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Description of existing content and what needs to be updated:&lt;/b&gt;&lt;br&gt;Please provide explanation of need.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Please_also_provide_links_to_documents_for_review</name>
            <fieldText>&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Please also provide links to documents for review.&lt;/b&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AudienceReview</name>
            <choiceReferences>NLpartnersprogramparticipants</choiceReferences>
            <choiceReferences>NLalumni</choiceReferences>
            <choiceReferences>NonNLdistrictstateleaders</choiceReferences>
            <choiceReferences>NonNLschoolleaders</choiceReferences>
            <choiceReferences>Funders</choiceReferences>
            <choiceReferences>NLstaff</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Audience</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AnythingElseResearch</name>
            <fieldText>Anything else we should know?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCNWebsite_Update_Details</name>
        <label>Website Update Details</label>
        <locationX>443</locationX>
        <locationY>1527</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SCRNDescription_of_Proposed_Change_Four_Key_Drivers</targetReference>
        </connector>
        <fields>
            <name>DisTxtOverallWebsiteText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;Description of Current Challenge/Opportunity:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SCNWebsite_Update_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCNWebsite_Update_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Websitechallengeopp</name>
                    <dataType>String</dataType>
                    <fieldText>What is the challenge you are trying to solve. or the opportunity you want to leverage?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>WEBSITEWhat_are_you_currently_doing_to_address_this</name>
                    <dataType>String</dataType>
                    <fieldText>What are you currently doing to address this?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Please_confirm_that_your_proposed_update_is_not_on_the_Roadmap</name>
                    <choiceReferences>YesNOTwebsiteRoadmap</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Please confirm that your proposed update is not on the Roadmap.</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>LinktoWebsiteRoadmap</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;See the &lt;/strong&gt;&lt;a href=&quot;https://docs.google.com/presentation/d/1lMgvDOLoKT4yw6j2HzHbAQ0hlRVRS1N8dhsWTEKQ5yE/edit?usp=sharing&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;Website Roadmap&lt;/strong&gt;&lt;/a&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCRNDescription_of_Proposed_Change_Four_Key_Drivers</name>
        <label>Description of Proposed Change &amp; Four Key Drivers</label>
        <locationX>931</locationX>
        <locationY>1641</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateCreateCaseWebsite</targetReference>
        </connector>
        <fields>
            <name>STRATEGICLabel</name>
            <fieldText>STRATEGIC</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>STRATEGICLabel_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>WEBSITEWhat_are_the_strategic_or_competitive_advantages_driving_this_request</name>
                    <fieldText>What are the strategic or competitive advantages driving this request?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>How_does_this_request_align_with_website_objectives_check_all_that_apply</name>
                    <choiceReferences>Branding</choiceReferences>
                    <choiceReferences>SEODiscoverability</choiceReferences>
                    <choiceReferences>DataAnalytics</choiceReferences>
                    <choiceReferences>UserEngagement</choiceReferences>
                    <choiceReferences>SalesEnablement</choiceReferences>
                    <choiceReferences>LeadGeneration</choiceReferences>
                    <choiceReferences>SalesActivation</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>How does this request align with website objectives (check all that apply)</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>DATA_DRIVEN</name>
            <fieldText>DATA-DRIVEN</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DATA_DRIVEN_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>What_data_illuminates_or_substantiates_this_need</name>
                    <dataType>String</dataType>
                    <fieldText>What data illuminates or substantiates this need?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>What_data_suggests_this_request_will_solve_the_problem</name>
                    <dataType>String</dataType>
                    <fieldText>What data suggests this request will solve the problem?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>REVENUE_IMPACT_EFFICIENCIES</name>
            <fieldText>REVENUE IMPACT &amp; EFFICIENCIES</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>REVENUE_IMPACT_EFFICIENCIES_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>How_will_this_request_increase_revenue_or_efficiencies</name>
                    <dataType>String</dataType>
                    <fieldText>How will this request increase revenue or efficiencies?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>EXPECTED_OUTCOME</name>
            <fieldText>EXPECTED OUTCOME</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>EXPECTED_OUTCOME_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>What_will_be_achieved_once_this_request_is_implemented</name>
                    <dataType>String</dataType>
                    <fieldText>What will be achieved once this request is implemented?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Links_to_similar_website_pages_for_inspiration</name>
            <fieldText>Links to similar website pages (for inspiration!)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Key_internal_stakeholders_to_consult</name>
            <dataType>String</dataType>
            <fieldText>Key internal stakeholders to consult:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Anything_else_we_should_know2</name>
            <dataType>String</dataType>
            <fieldText>Anything else we should know:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ThanksScrn</name>
        <label>Thanks</label>
        <locationX>2376</locationX>
        <locationY>529</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Renewal_or_End</targetReference>
        </connector>
        <fields>
            <name>Thanks</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Thank you for reaching out. A member of our marketing and communications team will email you directly. We look forward to partnering with you and supporting your success.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ExtraRequestNavBar</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Create New Request&quot;,&quot;value&quot;:&quot;Create New Request&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:anywhere_alert&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Close Form&quot;,&quot;value&quot;:&quot;Close Form&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:stop&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VarEndScreenDecison</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>307</locationX>
        <locationY>453</locationY>
        <connector>
            <targetReference>Request_TypePge</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Displays unified why this form is important message</description>
        <name>insightsimportant</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The insights you provide below will help us make the best recommendations for how to move forward!&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AssignbyTypeVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FirstRegIDVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FirstRegNameVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TIMEID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The id of the first case created</description>
        <name>VarCASEparentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores if user picked create a new request or not</description>
        <name>VarEndScreenDecison</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Used to make sure that emails are sent and cleared if multiple requests are made</description>
        <name>VarNewCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
